/* ====================================================================================================
 * Filename:      OfficeUI.Orange.Variables.scss
 * Author:        Kevin De Coninck
 * Date Created:  30/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Orange.Variables.scss file which holds variables for styling various
 *                elements.
======================================================================================================= */
/* ---- Variables. ---- */
$primary-color: #d24726;
$spinner-color: #d24625;
$icon-hover-color: #fce4dc;
$icon-active-color: #f5ba9d;
$link-active-color: #f0623e;
$menu-navigation-color: #fcece9;