/* ====================================================================================================
 * Filename:      OfficeUI.Style.Orange.scss
 * Author:        Kevin De Coninck
 * Date Created:  30/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Style.Orange.scss file is a file which on itself doesn't do anything.
 *                This files does act as a file in which various import statements are saved.
======================================================================================================= */
/* ----- Import statements ----- */
/* ====================================================================================================
 * Filename:      OfficeUI.Orange.Application.scss
 * Author:        Kevin De Coninck
 * Date Created:  30/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Orange.Application.scss file is a file which is used to style
 *                various OfficeUI elements.
======================================================================================================= */
/* ----- Import statements ----- */
/* ====================================================================================================
 * Filename:      OfficeUI.Orange.References.scss
 * Author:        Kevin De Coninck
 * Date Created:  30/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Orange.References.scss file is a file which on itself doesn't do anything.
 *                This file contains the references to all the other files.
======================================================================================================= */
/* ----- Import statements ----- */
/* ====================================================================================================
 * Filename:      OfficeUI.Mixins.scss
 * Author:        Kevin De Coninck
 * Date Created:  30/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Mixins.scss file is a file contains various mixins that can be used with
 *                the scss syntax.
======================================================================================================= */
/* ====================================================================================================
 * Mixin:         Font-Size (REM).
 *
 * Description:   REM is similar to the EM value, but instead of being relative to the parent element
 *                it's relative to the font-size set in the <HTML> tag.
 *                It has all the benefits of EM, but you don't get issues e.g. (Compounding) since REM
 *                is only relative to the HTML element. The bad part is there's no support for REM
 *                units in Microsoft Internet Explorer 8 and below. But with this mixin we can create
 *                a fallback to pixels when rem isn't supported.
 * ==================================================================================================== */
/* ====================================================================================================
 * Mixin:         Breakpoints - Responsive Design.
 *
 * Description:   This mixin allows us to add responsive design in an easy way.
 * ==================================================================================================== */
/* ---- Useful mixins. ---- */
/* -- Positioning mixins. -- */
/* -- Transformation mixins. -- */
/* ---- Animation mixins. ---- */
/* ====================================================================================================
 * Filename:      OfficeUI.Orange.Variables.scss
 * Author:        Kevin De Coninck
 * Date Created:  30/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Orange.Variables.scss file which holds variables for styling various
 *                elements.
======================================================================================================= */
/* ---- Variables. ---- */
/* ---- General elements styling (anchors, input element, ...). ---- */
#OfficeUI a {
  color: #d24726;
  text-decoration: none; }

#OfficeUI a:hover {
  color: #f0623e;
  text-decoration: none; }

#OfficeUI input:hover, #OfficeUI input:focus {
  border-color: #f5ba9d; }

/* ---- OfficeUI application styling. ---- */
#OfficeUI .loading-area {
  color: #d24726; }

#OfficeUI .spinner-circle .animation-image {
  background-color: #d24625; }

#OfficeUI .icon:not(.application-icon):not(.disabled):hover {
  background-color: #fce4dc; }

#OfficeUI .icon:not(.application-icon).active {
  background-color: #f5ba9d !important; }

/* ---- OfficeUI ribbon styling. ---- */
#OfficeUI .ribbon .tab-application {
  background-color: #d24726;
  border-color: #d24726 !important; }

#OfficeUI .ribbon .tab-application:hover {
  background-color: #f0623e !important;
  border-color: #f0623e !important; }

#OfficeUI .ribbon .tab.active, #OfficeUI .ribbon .tab:not(.contextual-tab):not(.tab-application):hover {
  color: #f0623e; }

/* ---- OfficeUI Styling Animations. ---- */
@-moz-keyframes fade-circle {
  0% {
    background-color: #d24625; }
  100% {
    background-color: #fff; } }
@-ms-keyframes fade-circle {
  0% {
    background-color: #d24625; }
  100% {
    background-color: #fff; } }
@-o-keyframes fade-circle {
  0% {
    background-color: #d24625; }
  100% {
    background-color: #fff; } }
@-webkit-keyframes fade-circle {
  0% {
    background-color: #d24625; }
  100% {
    background-color: #fff; } }
@keyframes fade-circle {
  0% {
    background-color: #d24625; }
  100% {
    background-color: #fff; } }

/*# sourceMappingURL=OfficeUI.Style.Orange.css.map */
