/* ====================================================================================================
 * Filename:      OfficeUI.Turquoise.Variables.scss
 * Author:        Kevin De Coninck
 * Date Created:  30/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Turquoise.Variables.scss file which holds variables for styling various
 *                elements.
======================================================================================================= */
/* ---- Variables. ---- */
$primary-color: #077568;
$spinner-color: #077467;
$icon-hover-color: #d3f0ec;
$icon-active-color: #7cbab2;