/* ====================================================================================================
 * Filename:      OfficeUI.LightBlue.Variables.scss
 * Author:        Kevin De Coninck
 * Date Created:  30/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.LightBlue.Variables.scss file which holds variables for styling various
 *                elements.
======================================================================================================= */
/* ---- Variables. ---- */
$primary-color: #0072c6;
$spinner-color: #0071c5;
$icon-hover-color: #cde6f7;
$icon-active-color: #92c0e0;
$link-active-color: #2a8dd4;