<!DOCTYPE html>
<html data-ng-app="OfficeUI" data-ng-controller="OfficeUIController as OfficeUIController">
    <head>
        <title>OfficeUI (Version 1.0.0)</title>

        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">

        <!-- Reference the favicon to use. -->
        <link rel="shortcut icon" type="image/x-icon" href="/Resources/Images/favicon.ico" />

        <!-- Include all the external script files. -->
        <script src="/Resources/External/Bower/jquery/dist/jquery.js"></script>
        <script src="/Resources/External/Bower/jquery-ui/jquery-ui.js"></script>
        <script src="/Resources/External/Bower/angular/angular.js"></script>
        <script src="/Components/External/NodeJS/node_modules/jspath/jspath.min.js"></script>
        <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

        <!-- Include all the internal script files. -->
        <script src="/Resources/Scripts/Elements/OfficeUI.Elements.js"></script>
        <script src="/Resources/Scripts/General/OfficeUI.General.js"></script>
        <script src="/Resources/Scripts/OfficeUI.js"></script>
        <script src="/Resources/Scripts/OfficeUI.Configuration.js"></script>
        <script src="/Resources/Scripts/OfficeUI.Core.js"></script>

        <!-- Include all the external stylesheets. -->
        <link rel="stylesheet" href="/Resources/External/Bower/fontawesome/css/font-awesome.min.css">

        <!-- Include all the required stylesheets. -->
        <link rel="stylesheet" href="/Resources/Stylesheets/OfficeUI.Core.min.css" />

        <link rel="stylesheet" data-ng-href="{{Style}}" /> <!-- Dynamic stylesheet: Style of the OfficeUI application 'Red', 'Blue', 'LightBlue', 'Green', ... -> See OfficeUI.config.json -->
        <link rel="stylesheet" data-ng-href="{{Theme}}" /> <!-- Dynamic stylesheet: Theme of the OfficeUI application 'Calligraphy', 'Circles And Stripes', 'Circuit', 'Clouds', ... -->
    </head>
    <body>
        <!-- Defines the OfficeUI container. All OfficeUI components should be placed in here. -->
        <div id="OfficeUI">

            <!-- Defines the OfficeUI application container. -->
            <div class="application">
                <header>
                    <!-- Section: Icons on the top left of the page. -->
                    <div class="icons no-select">
                        <img class="application-icon" id="{{icon.Id}}" alt="{{icon.Alt}}" data-ng-class="{'icon': !$first, 'disabled': icon.Disabled == 'True'}" data-ng-repeat="icon in Icons" data-ng-src="{{icon.Icon}}" data-toggle-class-on-click="active" data-dynamic-event-handling="" />
                    </div>

                    <!-- Section: Title of the application. -->
                    <div class="title">
                        <span>{{Title}}</span>
                    </div>

                    <!-- Section: Ribbon of the application. -->
                    <div class="ribbon">
                        <ul class="tabs">
                            <li class="tab-group" data-ng-repeat="tab in Tabs" data-ng-click="!$first && setActiveTab(tab.Id)" data-on-hover="!$first && setActiveTabOnHover(tab.Id)">
                                <ul>
                                    <li class="tab label" data-ng-class="{application: $first, active: isTabActive(tab.Id)}">
                                        <span>{{tab.Label}}</span>
                                    </li>
                                </ul>
                            </li>

                            <li class="contextual-tab-group" data-ng-repeat="contextualGroup in ContextualGroups" data-ng-style="{'background-color': contextualGroup.GroupColor}">
                                <div data-ng-style="{'background-color': contextualGroup.AccentColor}" class="accent">&nbsp;</div>
                                <div class="label contextual-group-label" data-ng-style="{'color': contextualGroup.GroupTextColor}">
                                    <span>{{contextualGroup.Label}}</span>
                                </div>
                                <ul>
                                    <li class="tab label" data-ng-repeat="tab in contextualGroup.Tabs" data-ng-class="{active: isTabActive(tab.Id)}" data-toggle-style-attribute-on-hover='{"color": "{{contextualGroup.GroupTextColor}}"}' data-ng-style="{color: setActiveTabColor(tab.Id, contextualGroup.GroupTextColor)}" data-ng-click="setActiveTab(tab.Id)" data-on-hover="setActiveTabOnHover(tab.Id)">
                                        <span>{{tab.Label}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </header>

                <br/><br/>
                <div class="container" style="margin: 100px;">
                    <a href="#" class="button">
                        <span>Demo</span>
                    </a>
                    <br/><br/>
                    <div class="dropdown" id="dropdownChangeStyle" style="width: 100px;" data-on-change="$(this).scope().changeStyle($(this).selectedItem); $('#dropdownChangeStyle').scope().refresh();">
                        <div class="legend">LightBlue</div>

                        <ul class="elements">
                            <li>Blue</li>
                            <li>Green</li>
                            <li>LightBlue</li>
                            <li>Orange</li>
                            <li>Purple</li>
                            <li>Red</li>
                            <li>Turquoise</li>
                        </ul>
                    </div>

                    <div class="dropdown" id="dropdownChangeTheme" style="width: 150px;" data-on-change="$(this).scope().changeTheme($(this).selectedItem); $('#dropdownChangeTheme').scope().refresh();">
                        <div class="legend">Geometry</div>

                        <ul class="elements">
                            <li>No Background</li>
                            <li>Calligraphy</li>
                            <li>Circles And Stripes</li>
                            <li>Circuit</li>
                            <li>Clouds</li>
                            <li>Doodle Circles</li>
                            <li>Doodle Diamonds</li>
                            <li>Geometry</li>
                            <li>Lunchbox</li>
                            <li>School Supplies</li>
                            <li>Spring</li>
                            <li>Stars</li>
                            <li>Straws</li>
                            <li>Tree Rings</li>
                            <li>Underwater</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scripts which should be executed at startup. -->
        <script type="text/javascript">
            // Loads the OfficeUI configuration.
            $.fn.OfficeUI.Settings.OfficeUIConfigurationFileLocation = '/Configuration/Application/OfficeUI.config.json';
        </script>
    </body>
</html>