<!DOCTYPE html>
    <html data-ng-app="OfficeUIApplication" data-ng-controller="OfficeUIController">
    <head>
        <title>OfficeUI Web Controls for Web Applications</title>

        <!-- Enable universal character encoding. -->
        <meta content="text/html;charset=UTF-8" http-equiv="Content-type">

        <!-- Reference the stylesheets and the favicon. -->
        <link href="/Resources/Images/favicon.ico"  rel="shortcut icon" type="image/x-icon"/>
        <link href="/Resources/External/Bower/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/Resources/Stylesheets/OfficeUI.css" rel="stylesheet"  />

        <!-- Required scripts for the OfficeUI application. -->
        <script src="/Resources/External/Bower/jquery/dist/jquery.js"></script>
        <script src="/Resources/External/Bower/angular/angular.js"></script>
        <script src="/Resources/External/Bower/angular-sanitize/angular-sanitize.js"></script>
        <script src="/Components/External/NodeJS/node_modules/jspath/jspath.min.js"></script>
        <script src="/Resources/Scripts/OfficeUI.Combined.js"></script>
        <script src="/Resources/Scripts/OfficeUI.Configuration.js"></script>
        <script src="/Resources/Scripts/OfficeUI.Core.js"></script>
    </head>
    <body>
        <!-- Defines the OfficeUI holder. -->
        <div id="OfficeUI">
            <!-- Defines the loading area. -->
            <div class="loading-area center-screen no-select" data-ng-if="loadingScreenLoaded && !isInitialized" data-ng-cloak>
                <h1>Office<span class="registered">®</span> Web Controls for Web Applications</h1>

                <!-- Defines the loading spinner which is implemented. -->
                <div class="loading-wrapper">
                    <div class="spinner-circle">
                        <div class="animation-image animate-step-01"></div>
                        <div class="animation-image animate-step-02"></div>
                        <div class="animation-image animate-step-03"></div>
                        <div class="animation-image animate-step-04"></div>
                        <div class="animation-image animate-step-05"></div>
                        <div class="animation-image animate-step-06"></div>
                        <div class="animation-image animate-step-07"></div>
                        <div class="animation-image animate-step-08"></div>
                    </div>
                </div>

                <!-- Defines the loading text. -->
                <div class="status-message">{{LoadingMessage}}
                    <!-- The three '.' signs which are being placed here are required to animate the login screen.
                         Otherwise, when on a slow connection, it might be that loading takes quite a time and the user
                         might think that the application has frozen. By animating a bit, it's more clear that the
                         application is still doing something. -->
                    <span>.</span>
                    <span>.</span>
                    <span>.</span>
                </div>
            </div>

            <!-- Defines the main application area. -->
            <div data-ng-if="isInitialized">
                <div data-ng-include="'/Resources/Data/Templates/OfficeUI.html'" ng-cloak></div>

                <div class="site-container" data-ng-class="{'ribbon-hidden': InitializeServiceCall('Ribbon', 'isRibbonHidden') || InitializeServiceCall('Ribbon', 'isRibbonVisible'), 'ribbon-showed': InitializeServiceCall('Ribbon', 'isRibbonShowed')}">
                    <p>
                        <h1>Activating Tabs</h1>
                        <div class="link"><a href="#" data-ng-click="InitializeServiceCall('Ribbon', 'setActiveTab', 'tabHome')">Activate tab 'Home'</a></div>
                        <div class="link"><a href="#" data-ng-click="InitializeServiceCall('Ribbon', 'setActiveTab', 'tabSendReceive')">Activate tab 'Send / Receive'</a></div>
                        <div class="link"><a href="#" data-ng-click="InitializeServiceCall('Ribbon', 'setActiveTab', 'tabFolder')">Activate tab 'Folder'</a></div>
                        <div class="link"><a href="#" data-ng-click="InitializeServiceCall('Ribbon', 'setActiveTab', 'tabView')">Activate tab 'View'</a></div>
                        <div class="link"><a href="#" data-ng-click="InitializeServiceCall('Ribbon', 'setActiveTab', 'tabMiscellaneous')">Activate tab 'Miscellaneous'</a></div>
                        <br/>
                        <div class="link"><a href="#" data-ng-click="InitializeServiceCall('Ribbon', 'setActiveTab', 'tabDrawingTools_Format')">Activate contextual tab 'Format (Drawing Tools)'</a></div>
                        <div class="link"><a href="#" data-ng-click="InitializeServiceCall('Ribbon', 'setActiveTab', 'tabTableTools_Design')">Activate contextual tab 'Design (Table Tools)'</a></div>
                        <div class="link"><a href="#" data-ng-click="InitializeServiceCall('Ribbon', 'setActiveTab', 'tabTableTools_Layout')">Activate contextual tab 'Layout (Table Tools)'</a></div>
                        <div class="link"><a href="#" data-ng-click="InitializeServiceCall('Ribbon', 'setActiveTab', 'tabSmartTools_Design')">Activate contextual tab 'Design (Smart Tools)'</a></div>
                        <div class="link"><a href="#" data-ng-click="InitializeServiceCall('Ribbon', 'setActiveTab', 'tabSmartTools_Format')">Activate contextual tab 'Format (Smart Tools)'</a></div>
                    </p>

                    <p>
                        <h1>Activating Contextual Groups</h1>
                        <div class="link"><a href="#" data-ng-click="InitializeServiceCall('Ribbon', 'activateContextualGroup', 'contextualGroupDrawingTools')">Activate contextual group 'Drawing Tools'</a> / <a href="#" data-ng-click="InitializeServiceCall('Ribbon', 'deactivateContextualGroup', 'contextualGroupDrawingTools')">Deactivate contextual group 'Drawing Tools'</a></div>
                        <div class="link"><a href="#" data-ng-click="InitializeServiceCall('Ribbon', 'activateContextualGroup', 'contextualGroupTableTools')">Activate contextual group 'Table Tools'</a> / <a href="#" data-ng-click="InitializeServiceCall('Ribbon', 'deactivateContextualGroup', 'contextualGroupTableTools')">Deactivate contextual group 'Table Tools'</a></div>
                        <div class="link"><a href="#" data-ng-click="InitializeServiceCall('Ribbon', 'activateContextualGroup', 'contextualGroupSmartTools')">Activate contextual group 'Smart Tools'</a> / <a href="#" data-ng-click="InitializeServiceCall('Ribbon', 'deactivateContextualGroup', 'contextualGroupSmartTools')">Deactivate contextual group 'Smart Tools'</a></div>
                    </p>

                    <p>
                        <h1>Application Icons Functions</h1>
                        <div class="link"><a href="#" data-ng-click="DisableApplicationIcon('icoSendReceive')">Disable icon 'Send Receive'</a></div>
                        <div class="link"><a href="#" data-ng-click="EnableApplicationIcon('icoSendReceive')">Enable icon 'Send Receive'</a></div>
                    </p>

                    <p>
                    <h1>Ribbon Icons Functions</h1>
                    <div class="link"><a href="#" data-ng-click="InitializeServiceCall('Ribbon', 'DisableIcon', 'icoNewEmail')">Disable icon 'New Email'</a></div>
                    <div class="link"><a href="#" data-ng-click="InitializeServiceCall('Ribbon', 'EnableIcon', 'icoNewEmail')">Enable icon 'New Email'</a></div>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>