<!DOCTYPE html>
<html data-ng-app="OfficeUI" data-ng-controller="OfficeUIController as OfficeUIController">
    <head>
        <title>OfficeUI (Version 1.0.0)</title>

        <!-- Enable universal character encoding. -->
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">

        <!-- Reference the favicon to use. -->
        <link rel="shortcut icon" type="image/x-icon" href="/Resources/Images/favicon.ico" />

        <!-- Include all the external script files. -->
        <script src="/Resources/External/Bower/jquery/dist/jquery.js"></script>
        <script src="/Resources/External/Bower/jquery-ui/jquery-ui.js"></script>
        <script src="/Resources/External/Bower/angular/angular.js"></script>
        <script src="/Resources/External/Bower/angular-sanitize/angular-sanitize.js"></script>
        <script src="/Components/External/NodeJS/node_modules/jspath/jspath.min.js"></script>
        <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

        <!-- Include all the internal script files. -->
        <script src="/Resources/Scripts/Elements/OfficeUI.Elements.js"></script>
        <script src="/Resources/Scripts/OfficeUI.js"></script>
        <script src="/Resources/Scripts/OfficeUI.Configuration.js"></script>
        <script src="/Resources/Scripts/OfficeUI.Core.js"></script>

        <!-- Include all the external stylesheets. -->
        <link rel="stylesheet" href="/Resources/External/Bower/fontawesome/css/font-awesome.min.css">

        <!-- Include all the required stylesheets. -->
        <link rel="stylesheet" href="/Resources/Stylesheets/OfficeUI.Core.min.css" />
        <link rel="stylesheet" href="/Resources/Stylesheets/OfficeUI.Site.min.css" />

        <link rel="stylesheet" href="#" data-ng-href="{{Style}}" /> <!-- Dynamic stylesheet: Style of the OfficeUI application 'Red', 'Blue', 'LightBlue', 'Green', ... -> See OfficeUI.config.json -->
        <link rel="stylesheet" href="#" data-ng-href="{{Theme}}" /> <!-- Dynamic stylesheet: Theme of the OfficeUI application 'Calligraphy', 'Circles And Stripes', 'Circuit', 'Clouds', ... -->
    </head>
    <body>
        <!-- Defines the OfficeUI container. All OfficeUI components should be placed in here. -->
        <div id="OfficeUI">

            <!-- Defines the OfficeUI application container. -->
            <div>

                <!-- Defines that the OfficeUI Application should be rendered here. -->
                <div officeui-application=""></div>

                <div class="content-wrapper" style="position: absolute; top: 142px; bottom: 66px; width: 100%;" data-ng-class="{'ribbon-hidden': isRibbonHidden() || isRibbonVisible(), 'ribbon-showed': isRibbonShowed()}">
                    <div class="breadcrumb no-select" style="height: 20px; position: relative; border-bottom: 1px solid #d4d4d4; line-height: 20px; padding-left: 10px;">
                        <span style="padding-right: 5px;">Content Management</span>
                        <i class="fa fa-caret-right" style="padding-right: 5px;"></i>
                        <span>Personalization</span>
                    </div>

                    <div class="site-contents" style="height: calc(100% - 20px);">
                        <div style="padding-left: 10px; padding-top: 20px; float: left; width: 250px; background-color: green; height: 100%; background: linear-gradient(#fff, #f0f0f0); border-right: 1px solid #d4d4d4;">

                        </div>
                        <div style="float: left; height: 100%; padding: 20px;">
                            <a href="#" class="button" style="margin-right: 25px;" data-ng-click="activateContextualGroup('contextualGroupDrawingTools')">
                                <span>Activate Contextual Group 'Drawing Tools'</span>
                            </a>
                            <a href="#" class="button" style="margin-right: 25px;" data-ng-click="activateContextualGroup('contextualGroupTableTools')">
                                <span>Activate Contextual Group 'Table Tools'</span>
                            </a>
                            <a href="#" class="button" style="margin-right: 25px;" data-ng-click="activateContextualGroup('contextualGroupSmartTools')">
                                <span>Activate Contextual Group 'Smart Tools'</span>
                            </a>
                            <br/><br/>
                            <a href="#" class="button" style="margin-right: 25px;" data-ng-click="deactivateContextualGroup('contextualGroupDrawingTools')">
                                <span>Deactivate Contextual Group 'Drawing Tools'</span>
                            </a>
                            <a href="#" class="button" style="margin-right: 25px;" data-ng-click="deactivateContextualGroup('contextualGroupTableTools')">
                                <span>Deactivate Contextual Group 'Table Tools'</span>
                            </a>
                            <a href="#" class="button" style="margin-right: 25px;" data-ng-click="deactivateContextualGroup('contextualGroupSmartTools')">
                                <span>Deactivate Contextual Group 'Smart Tools'</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="navigation no-select" style="z-index: 100;">
                    <ul>
                        <li><a href="#">Installation Guide</a></li>
                        <li><a href="#">API Reference</a></li>
                        <li><a href="#">Developers Guide</a></li>
                    </ul>
                </div>
                <div class="notification-area no-select">
                    Items: 1,242
                </div>
            </footer>
        </div>

        <!-- Provides scripts which are required for the application to work. -->
        <script type="text/javascript">
            function onDropdownChange(id, element) {
                var scope = element.scope();

                if (id == 'drpChangeApplicationStyle') {
                    scope.changeStyle(element.selectedItem);
                    scope.refresh();
                }
                else if (id == 'drpChangeApplicationTheme') {
                    scope.changeTheme(element.selectedItem);
                    scope.refresh();
                }
            }
        </script>
    </body>
</html>