<div class="application">
    <header>
        <!-- The wrapper in which the application contents are being showed. -->
        <div>
            <div class="application-icons no-select">
                <img class="icon" src="#" alt="{{icon.Alt}}" id="{{icon.Id}}" data-ng-class="{'application-icon': $first, 'disabled': icon.Disabled == 'True'}" data-ng-repeat="icon in Icons" data-ng-src="{{icon.Icon}}" data-officeui-toggle-class-on-click="active" />
            </div>

            <div class="application-title">
                <span>{{Title}}</span>
            </div>
        </div>

        <!-- Defines the ribbon element. -->
        <div class="ribbon no-select">
            <ul class="tabs">
                <li class="tab-group" data-ng-repeat="tab in Tabs">
                    <ul>
                        <li class="tab tab-label" id="{{tab.Id}}" data-ng-click="InitializeServiceCall('Ribbon', 'setActiveTab', tab.Id)" data-ng-class="{'tab-application': $first, 'active': InitializeServiceCall('Ribbon', 'isTabActive', tab.Id)}">
                            <span>{{tab.Label}}</span>
                        </li>
                    </ul>
                </li>

                <li class="contextual-tab-group" id="{{contextualGroup.Id"}} data-ng-repeat="contextualGroup in ContextualGroups" data-ng-style="{'background-color': contextualGroup.GroupColor}">
                    <div class="accent" data-ng-style="{'background-color': contextualGroup.AccentColor}" >&nbsp;</div>

                        <div class="group-label" data-ng-style="{'color': contextualGroup.GroupTextColor}">
                        <span>{{contextualGroup.Label}}</span>
                    </div>

                    <ul>
                        <li class="tab tab-label" id="{{tab.Id}}" data-ng-click="InitializeServiceCall('Ribbon', 'setActiveTab', tab.Id)" data-ng-class="{active: InitializeServiceCall('Ribbon', 'isTabActive', tab.Id)}" data-ng-repeat="tab in contextualGroup.Tabs">
                            <span>{{tab.Label}}</span>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="tabs-content">

            </ul>
        </div>
    </header>
</div>
