<div class="application">
    <div class="backstage" data-ng-show="InitializeServiceCall('Ribbon', 'isApplicationTabOpened')">
        <header>
            <div class="application-title"
                 data-ng-show="!InitializeServiceCall('Ribbon', 'areContextualGroupsActive', contextualGroup.Id)">
                <span>{{Title}}</span>
            </div>
        </header>

        <div class="navigation">

        </div>
    </div>
    <header>
        <!-- The wrapper in which the application contents are being showed. -->
        <div>
            <div class="application-icons no-select">
                <img alt="{{icon.Alt}}" class="icon" id="{{icon.Id}}" src="#"
                     data-ng-class="{'application-icon': $first, 'disabled': icon.Disabled == 'True'}" data-ng-repeat="icon in Icons" data-ng-src="{{icon.Icon}}"
                     toggle-class-on-click="active"/>
            </div>

            <div class="application-title"
                 data-ng-show="!InitializeServiceCall('Ribbon', 'areContextualGroupsActive', contextualGroup.Id)">
                <span>{{Title}}</span>
            </div>
        </div>

        <!-- Defines the ribbon element. -->
        <div class="ribbon no-select">
            <ul class="tabs" data-stop-propagation="click" data-ribbon-scroll>
                <li class="tab-group displayInlineBlock" data-ng-repeat="tab in Tabs">
                    <ul>
                        <li class="tab tab-label" id="{{tab.Id}}"
                            data-ng-class="{'tab-application': $first, 'active': InitializeServiceCall('Ribbon', 'isTabActive', tab.Id) && !InitializeServiceCall('Ribbon', 'isRibbonHidden') && !InitializeServiceCall('Ribbon', 'isRibbonHiddenInitialized')}"
                            data-ng-click="$first && InitializeServiceCall('Ribbon', 'toggleApplicationTab') || !$first && InitializeServiceCall('Ribbon', 'setActiveTab', tab.Id)">
                            <span>{{tab.Label}}</span>
                        </li>
                    </ul>
                </li>

                <li class="contextual-tab-group displayInlineBlock" id="{{contextualGroup.Id}}"
                    data-ng-repeat="contextualGroup in ContextualGroups" data-ng-show="InitializeServiceCall('Ribbon', 'isContextualGroupActive', contextualGroup.Id)"
                    data-ng-style="{'background-color': contextualGroup.GroupColor}">
                    <div class="accent" data-ng-style="{'background-color': contextualGroup.AccentColor}" >&nbsp;</div>
                        <div class="group-label" data-ng-style="{'color': contextualGroup.GroupTextColor}">
                        <span>{{contextualGroup.Label}}</span>
                    </div>

                    <ul>
                        <li class="tab tab-label displayInlineBlock" id="{{tab.Id}}" data-ng-class="{active: InitializeServiceCall('Ribbon', 'isTabActive', tab.Id) && !InitializeServiceCall('Ribbon', 'isRibbonHidden') && !InitializeServiceCall('Ribbon', 'isRibbonHiddenInitialized')}"
                            data-ng-click="InitializeServiceCall('Ribbon', 'setActiveTab', tab.Id)" data-ng-repeat="tab in contextualGroup.Tabs"
                            data-ng-style="{'color' : InitializeServiceCall('Ribbon', 'setActiveTabColor', [ tab.Id, contextualGroup.GroupTextColor ])}"
                            data-toggle-style-on-hover='{"color": "{{contextualGroup.GroupTextColor}}"}'>
                            <span>{{tab.Label}}</span>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- Defines the content of the ribbon element. -->
            <ul class="tabs-content"
                data-ng-class="{'tabs-content-hidden-no-animation': InitializeServiceCall('Ribbon', 'isRibbonHiddenInitialized'), 'tabs-content-hidden': InitializeServiceCall('Ribbon', 'isRibbonHidden'), 'tabs-content-visible': InitializeServiceCall('Ribbon', 'isRibbonVisible')}"
                data-ribbon-scroll data-stop-propagation="click">

                <!-- Defines the contents of the normal tabs. -->
                <li data-ng-repeat="tab in Tabs" data-ng-show="InitializeServiceCall('Ribbon', 'isTabActive', tab.Id)">
                    <div data-ng-include="'/Resources/Data/Templates/OfficeUIRibbonContents.html'" ng-cloak></div>
                </li>

                <!-- Defines the contents of the contextual tabs. -->
                <li data-ng-repeat="contextualGroup in ContextualGroups" data-ng-show="InitializeServiceCall('Ribbon', 'isContextualGroupActive', contextualGroup.Id)">
                    <ul>
                        <li data-ng-repeat="tab in contextualGroup.Tabs" data-ng-show="InitializeServiceCall('Ribbon', 'isTabActive', tab.Id)">
                            <div data-ng-include="'/Resources/Data/Templates/OfficeUIRibbonContents.html'" ng-cloak></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
</div>
