<div class="group" data-ng-repeat-start="group in tab.Groups">
    <div class="area" data-ng-repeat="area in group.Areas">
        <div class="actions-holder"
             data-ng-class="{'displayBlock': action.Type == 'sIcon', 'displayInlineBlock': action.Type == 'bIcon'}"
             data-ng-repeat="action in area.Actions">

            <!-- This is what is being rendered if it's a big icon. -->
            <div class="big-icon-holder"
                 data-ng-class="{'disabled': action.Disabled == 'True'}"
                 data-ng-if="action.Type == 'bIcon'">

                <a data-ng-href="{{action.Uri}}">

                    <div class="icon big-icon"
                         id="{{action.Id}}"
                         data-ng-class="{'disabled': action.Disabled == 'True'}"
                         data-officeui-toggle-class-on-click="active" >

                        <img data-ng-src="{{action.Resource}}" />

                        <div class="label"
                             data-ng-bind-html="action |actionLegend"></div>
                    </div>
                </a>
            </div>

            <!-- This is what is being rendered if it's a small icon. -->
            <div class="small-icon-holder"
                 data-ng-if="action.Type == 'sIcon'"
                 data-ng-class="{'disabled': action.Disabled == 'True'}">

                <a data-ng-href="{{action.Uri}}" >

                    <div class="icon small-icon" id="{{action.Id}}"
                         data-ng-class="{'disabled': action.Disabled == 'True', 'active': isMenuActive(action.Id)}"
                         data-officeui-toggle-class-on-click="active">

                        <img data-ng-src="{{action.Resource}}" />

                        <div class="label"
                             data-ng-bind-html="action |actionLegend"></div>
                    </div>
                </a>
            </div>

            <!-- This is what is being rendered if it's an input element (Checkbox). -->
            <div id="{{action.Id}}"
                 data-ng-class="{'disabled': action.Disabled == 'True'}"
                 data-ng-show="action.Type == 'Checkbox'">

                <input type="checkbox" id="{{action.Id}}" />

                <div class="displayInlineBlock">{{action.Legend}}</div>
            </div>

            <!-- This is what is being rendered if it's an input element (Text). -->
            <div id="{{action.Id}}"
                 ng-class="{'disabled': action.Disabled == 'True'}"
                 data-ng-if="action.Type == 'Input'">

                <input id="{{action.Id}}" placeholder="{{action.Legend}}" type="text"
                       data-ng-style="{width:'{{action.Width}}'}"/>
            </div>

        </div>
    </div>

    <div class="legend">{{group.Legend}}</div>
</div>

<!-- Defines the vertical 'pipe' sign. -->
<div class="pipe" data-ng-repeat-end></div>