/* ====================================================================================================
 * Filename:      OfficeUI.Blue.Variables.scss
 * Author:        Kevin De Coninck
 * Date Created:  30/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Blue.Variables.scss file which holds variables for styling various
 *                elements.
======================================================================================================= */
/* ---- Variables. ---- */
$primary-color: #2b579a;
$spinner-color: #2b5699;
$icon-hover-color: #d5e1ff;
$icon-active-color: #a3bde3;
$link-active-color: #3e6db5;
$menu-navigation-color: #ebf1fa;