/* ====================================================================================================
 * Filename:      OfficeUI.Site.less
 * Author:        Kevin De Coninck
 * Date Created:  26/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Site.less file is the main file for styling the website (not the
 *                OfficeUI Components).
======================================================================================================= */
/* ---- Contents ---- */
#site-contents {
  color: #454545;
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.166em;
  line-height: 18px;
}
#site-contents a {
  color: #1e75bb;
  text-decoration: none;
}
#site-contents a:hover {
  color: #00bcf2;
}
#site-contents h1 {
  font-size: 3em;
  margin-bottom: 40px;
}
#site-contents p {
  margin-bottom: 20px;
}
#site-contents ul {
  list-style: inside;
}
#site-contents ul li {
  margin-bottom: 10px;
}
