/* ====================================================================================================
 * Filename:      OfficeUI.scss
 * Author:        Kevin De Coninck
 * Date Created:  30/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.scss file is the main file for all the OfficeUI components.
 *                This file will contain the styling for icons, actions, ribbon, buttons and a lot
 *                of other elements. However, there are references with other files to make sure that
 *                that we can use various styles and other elements.
 *
 * Remarks:       Some features have been included in order to help debugging stylesheets.
 *                The following 'debugging' features have been included:
 *                  - Css class (debug):  When you do apply this class on an element, the element
 *                                        itself will receive a dotted red border around it.
 *
 *                Some parts of the application does highly lean on the z-index property in order to
 *                show elements at the correct level. Therefore, all the elements which rely on a
 *                z-index property are showed below (highest z-index first, lowest latest).
 *                  - Application Icons (300) .
 *                  - Application Title (200).
 *                  - Ribbon Tabs (150).
 *                  - Header (100).
 *                  - Tabs Content (30).
======================================================================================================= */

/* ---- Import Statements. ---- */
@import 'OfficeUI.Reset.css';
@import 'OfficeUI.Mixins';

/* ---- Variables. ---- */
$color-default-gray: #d4d4d4;

/* ---- Fonts (Hacks): Required to render the Segoe UI Font Family entirely. ---- */
@font-face { font-family: "Segoe UI"; font-weight: 200; src: local("Segoe UI Light"); }
@font-face { font-family: "Segoe UI"; font-weight: 300; src: local("Segoe UI Semilight"); }
@font-face { font-family: "Segoe UI"; font-weight: 400; src: local("Segoe UI"); }
@font-face { font-family: "Segoe UI"; font-weight: 600; src: local("Segoe UI Semibold"); }
@font-face { font-family: "Segoe UI"; font-weight: 700; src: local("Segoe UI Bold"); }
@font-face { font-family: "Segoe UI"; font-style: italic; font-weight: 400; src: local("Segoe UI Italic"); }
@font-face { font-family: "Segoe UI"; font-style: italic; font-weight: 700; src: local("Segoe UI Bold Italic"); }

/* ---- Elements which covering the entire application, but which are needed to the OfficeUI to work. */
html, body { height: 100%; }
body { font-size: 1em; }

/* ----- Classes which are set through AngularJS. */
[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; } // When AngularJS is being bootstrapped, make sure that the contents are hidden.

/* ---- General OfficeUI classes. ---- */
#OfficeUI { color: #444; font-family: 'Segoe UI', arial, sans-serif; font-size: 1em; height: 100px; }
#OfficeUI .no-select { -moz-user-select: none; -ms-user-select: none; -webkit-touch-callout: none; -webkit-user-select: none; cursor: default; user-select: none; }
#OfficeUI .disabled { opacity: 0.5; pointer-events: none; }

/* ---- General classes which are used to position elements. ----*/
#OfficeUI .center-screen { left: 50%; position: fixed; top: 30%; transform: translate(-50%, -50%); }

/* ---- Defines the 'loading' and displaying' area. ---- */
#OfficeUI .loading-area { left: 50%; position: fixed; top: 30%; text-align: center; transform: translate(-50%, -30%); width: 100%; }
#OfficeUI .loading-wrapper { margin: 20px 0 20px 0; }
#OfficeUI .loading-area h1 { font-size: 3.0628em; font-weight: 200; line-height: 1em; }
#OfficeUI .loading-area h1 .registered { display: inline-block; font-size: 0.25em; line-height: 1em; margin-top: 10px; vertical-align: top; }
#OfficeUI .loading-area .status-message { font-size: 0.75em; }
#OfficeUI .loading-area .status-message span { @include animation-duration(1s); @include animation-name(animating-loading-text); @include animation-iteration-infinite; }
#OfficeUI .loading-area .status-message span:nth-child(1) { @include animation-delay(100ms); }
#OfficeUI .loading-area .status-message span:nth-child(2) { @include animation-delay(300ms); }
#OfficeUI .loading-area .status-message span:nth-child(3) { @include animation-delay(500ms); }

@include keyframes(animating-loading-text) {
  0% { opacity: 0; }
  100% { opacity: 100; }
}

/* ---- Styling for the menu. ---- */
#OfficeUI .menu { cursor: default; line-height: 1.7em; }
#OfficeUI .menu li .legend { margin-bottom: 2px; padding-left: 5px; }
#OfficeUI .menu li li .legend { padding-left: 10px; }
#OfficeUI .menu li li li .legend { padding-left: 15px; }
#OfficeUI .menu li li li li .legend { padding-left: 20px; }
#OfficeUI .menu li li li li li .legend { padding-left: 25px; }
#OfficeUI .menu li li li li li li .legend { padding-left: 30px; }
#OfficeUI .menu li li li li li li li .legend { padding-left: 35px; }
#OfficeUI .menu li li li li li li li li .legend { padding-left: 40px; }
#OfficeUI .menu .active { background-color: #e1e1e1; }

/* ---- Styling for the OfficeUI application. ---- */
#OfficeUI .application { font-size: 0.75em; }
#OfficeUI .application header { height: 142px; z-index: 100; }
#OfficeUI .application header .application-title { height: 22px; padding: 8px 2px 0 0; position: relative; text-align: center; z-index: 200; }
#OfficeUI .application header .application-icons { margin-left: 5px; position: absolute; z-index: 300; }
#OfficeUI .application header .application-icons .icon { margin: 0 5px 0 2px; }
#OfficeUI .application header .application-icons .icon:not(.application-icon) { margin-right: 6px; }

#OfficeUI .ribbon { position: absolute; top: 0; width: 100%; }
#OfficeUI .ribbon .tabs { border-bottom: 1px solid $color-default-gray; height: 50px; position: relative; z-index: 150; }
#OfficeUI .ribbon .tabs li { display: inline-block; }
#OfficeUI .ribbon .tabs .tab-group { position: relative; top: 25px; }
#OfficeUI .ribbon .tabs .tab-label { padding: 0 13px 0 12px; text-align: center; text-transform: uppercase; }
#OfficeUI .ribbon .tab { height: 25px; line-height: 25px; }
#OfficeUI .ribbon .tab-application { background-image: none; border: 1px solid transparent; color: #fff; margin-right: 4px; min-width: 59px; padding: 0 3px 0 2px; }
#OfficeUI .ribbon .tab.active { background: #fff; border: 1px solid $color-default-gray; border-bottom-color: #fff; }
#OfficeUI .ribbon .tab:not(.active) { border: 1px solid transparent; border-bottom-color: $color-default-gray; }

#OfficeUI .ribbon .tabs .accent { height: 4px; }
#OfficeUI .ribbon .tabs .contextual-tab-group { height: 50px; margin-right: 6px; }
#OfficeUI .ribbon .tabs .contextual-tab-group ul { display: table; position: relative; width: 100%; }
#OfficeUI .ribbon .tabs .contextual-tab-group ul li { display: table-cell; line-height: 23px; }
#OfficeUI .ribbon .tabs .contextual-tab-group ul li span { padding-right: 13px; padding-left: 12px; position: relative; top: 1px; }

#OfficeUI .ribbon .tabs-content { border-bottom: 1px solid $color-default-gray; height: 93px; }

/* ---- Styling for the website beneath the OfficeUI ribbon control. ---- */
#OfficeUI .site-container { bottom: 45px; position: absolute; top: 143px; width: 100%; }
#OfficeUI .site-container .menu-wrapper { background: linear-gradient(#fff, #f0f0f0) repeat scroll 0 0 rgba(0, 0, 0, 0); border-right: 1px solid $color-default-gray; float: left; font-size: 0.75em; height: 100%; overflow-y: scroll; padding: 10px; width: 250px; }
#OfficeUI .site-container footer { background-color: #e4e4e4; bottom: 0; height: 45px; padding-left: 15px; position: fixed; width: 100%; }
#OfficeUI .site-container .article { color: #454545; float: left; font-size: 0.875em; height: 100%; overflow-y: scroll; padding: 20px 20px 20px 40px; width: calc(100% - 250px); }
#OfficeUI .site-container .article strong { font-weight: 900; }
#OfficeUI .site-container .article h1 { font-size: 3em; padding: 0 0 20px; }
#OfficeUI .site-container .article p { line-height: 1.429em; padding-bottom: 15px; }
#OfficeUI .site-container .article ul { list-style: initial; list-style-position: outside; margin: 5px 0 20px; padding-left: 1.1em; }
#OfficeUI .site-container .article .alert { background-color: #ededf0; margin-bottom: 26px; padding: 10px 12px; }
#OfficeUI .site-container .article .alert p { margin: 0; }
#OfficeUI .site-container .article .alert table { border-bottom: none; border-collapse: separate; border-right: none; border-spacing: 0; margin-bottom: 20px; margin-top: 20px; width: 100%; }
#OfficeUI .site-container .article .alert table p:last-child { padding-bottom: 0; }
#OfficeUI .site-container .article .alert table th { color: #636363; }
#OfficeUI .site-container .article .alert table td, #OfficeUI .site-container .article .alert table th { border-bottom: 1px solid #d2d2d2; padding: 10px 8px; }

/* ---- Preloaders (CSS animations instead of a GIF image to indicate that something is loading. */
#OfficeUI .spinner-circle
{
  @include transform-scale(0.5); @include square-box(70px); margin-left: auto; margin-right: auto; position: relative;

  .animation-image { @include animation-duration(1.2s); @include animation-name(fade-circle); @include border-radius(5px); @include animation-iteration-infinite; @include animation-direction-normal; @include square-box(10px); background-color: #fff; position: absolute; }
  .animate-step-01 { @include animation-delay(0.45s); @include top-left-position(0, 30px); }
  .animate-step-02 { @include animation-delay(0.60s); @include top-left-position(10px, 50px); }
  .animate-step-03 { @include animation-delay(0.75s); @include top-left-position(30px, 60px); }
  .animate-step-04 { @include animation-delay(0.90s); @include top-left-position(50px, 50px); }
  .animate-step-05 { @include animation-delay(1.05s); @include top-left-position(60px, 30px); }
  .animate-step-06 { @include animation-delay(1.20s); @include top-left-position(50px, 10px); }
  .animate-step-07 { @include animation-delay(1.35s); @include top-left-position(30px, 0px); }
  .animate-step-08 { @include animation-delay(1.50s); @include top-left-position(10px, 10px); }

  // Provides the animation itself.
  @include keyframes(fade-circle) {
    0% { background-color: #fff; }
    100% { background-color: #fff; }
  }
}






































