/* ====================================================================================================
 * Filename:      OfficeUI.scss
 * Author:        Kevin De Coninck
 * Date Created:  30/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.scss file is the main file for all the OfficeUI components.
 *                This file will contain the styling for icons, actions, ribbon, buttons and a lot
 *                of other elements. However, there are references with other files to make sure that
 *                that we can use various styles and other elements.
======================================================================================================= */

/* ---- Import Statements. ---- */
@import 'OfficeUI.Reset.scss';
@import 'OfficeUI.Mixins';

/* ---- Variables. ---- */
$color-default-gray: #d4d4d4;

/* ---- Fonts (Hacks): Required to render the Segoe UI Font Family entirely (light, Semilight, UI, Semibold, Bold, Italic & Bold Italic). ---- */
@font-face { font-family: "Segoe UI"; font-weight: 200; src: local("Segoe UI Light"); }
@font-face { font-family: "Segoe UI"; font-weight: 300; src: local("Segoe UI Semilight"); }
@font-face { font-family: "Segoe UI"; font-weight: 400; src: local("Segoe UI"); }
@font-face { font-family: "Segoe UI"; font-weight: 600; src: local("Segoe UI Semibold"); }
@font-face { font-family: "Segoe UI"; font-weight: 700; src: local("Segoe UI Bold"); }
@font-face { font-family: "Segoe UI"; font-style: italic; font-weight: 400; src: local("Segoe UI Italic"); }
@font-face { font-family: "Segoe UI"; font-style: italic; font-weight: 700; src: local("Segoe UI Bold Italic"); }

/* ---- Elements which covering the entire application, but which are needed to the OfficeUI to work. */
html, body { height: 100%; font-size: 1em; }

/* ----- Classes which are set through AngularJS. */
[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; } // When AngularJS is being bootstrapped, make sure that the contents are hidden.

/* ---- Default HTML elements, such as input elements. ---- */
#OfficeUI input { border-color: $color-default-gray; }
#OfficeUI input[type="text"] { border: 1px solid $color-default-gray; font-family: 'Segoe UI', arial, sans-serif; font-size: 1em; height: 22px; padding-left: 3px; }

/* ---- Animations: Required to animate the various parts in an OfficeUI application. ---- */

  /* -- Spinning circle, used for the loading page. -- */
  #OfficeUI .spinner-circle
  {
    @include transform-scale(0.5); @include square-box(70px); margin-left: auto; margin-right: auto; position: relative;

    .animation-image { @include animation-duration(1.2s); @include animation-name(fade-circle); @include border-radius(5px); @include animation-iteration-infinite; @include animation-direction-normal; @include square-box(10px); background-color: #fff; position: absolute; }
    .animate-step-01 { @include animation-delay(0.45s); @include top-left-position(0, 30px); }
    .animate-step-02 { @include animation-delay(0.60s); @include top-left-position(10px, 50px); }
    .animate-step-03 { @include animation-delay(0.75s); @include top-left-position(30px, 60px); }
    .animate-step-04 { @include animation-delay(0.90s); @include top-left-position(50px, 50px); }
    .animate-step-05 { @include animation-delay(1.05s); @include top-left-position(60px, 30px); }
    .animate-step-06 { @include animation-delay(1.20s); @include top-left-position(50px, 10px); }
    .animate-step-07 { @include animation-delay(1.35s); @include top-left-position(30px, 0px); }
    .animate-step-08 { @include animation-delay(1.50s); @include top-left-position(10px, 10px); }

    // Provides the animation itself.
    @include keyframes(fade-circle) {
      0% { background-color: #fff; }
      100% { background-color: #fff; }
    }
  }

  /* -- Hide the ribbon by moving it up. -- */
  #OfficeUI .tabs-content-hidden { @include animation-duration(0.5s); @include animation-name(hide-ribbon); @include animation-no-repeat;
    @include keyframes(hide-ribbon) { 0% { top: 0; } 100% { top: -93px; }}
  }

  /* -- Show the ribbon by moving it down. -- */
  #OfficeUI .tabs-content-visible { @include animation-duration(0.5s); @include animation-name(show-ribbon); @include animation-no-repeat;
    @include keyframes(show-ribbon) { 0% { top: -93px; } 100% { top: 0; }}
  }

  /* -- Move the contents of the website up, this is done when the ribbon is hidden. -- */
  #OfficeUI .ribbon-showed { @include animation-duration(0.5s); @include animation-name(moveContentsDown); @include animation-no-repeat;
    @include keyframes(moveContentsDown) { 0% { top: 50px; } 100% { top: 143px; }}
  }

  /* -- Move the contents of the website dwon, this is done when the ribbon is being showed. -- */
  #OfficeUI .ribbon-hidden { @include animation-duration(0.5s); @include animation-name(moveContentsUp); @include animation-no-repeat;
    @include keyframes(moveContentsUp) { 0% { top: 143px; } 100% { top: 50px; }}
  }

/* ---- General classes, classes which are being used on various elements. ---- */
#OfficeUI .no-select { @include no-select }
#OfficeUI .disabled { opacity: 0.5; pointer-events: none; }
#OfficeUI .displayBlock { display: block; }
#OfficeUI .displayInlineBlock { display: inline-block; }
#OfficeUI .center-screen { left: 50%; position: fixed; top: 30%; transform: translate(-50%, -50%); }

/* ---- Usefull OfficeUI classes. Classes which can be placed on various elements. ---- */
#OfficeUI { color: #444; font-family: 'Segoe UI', arial, sans-serif; height: 100px; }

/* ---- Defines the 'loading' and displaying' area. ---- */
#OfficeUI .loading-area { left: 50%; position: fixed; top: 30%; text-align: center; transform: translate(-50%, -30%); width: 100%; }
#OfficeUI .loading-wrapper { margin: 20px 0 20px 0; }
#OfficeUI .loading-area h1 { font-size: 3.0628em; font-weight: 200; line-height: 1em; }
#OfficeUI .loading-area h1 .registered { font-size: 0.25em; line-height: 1em; margin-top: 10px; vertical-align: top; }
#OfficeUI .loading-area .status-message { font-size: 0.75em; }
#OfficeUI .loading-area .status-message span { @include animation-duration(1s); @include animation-name(animating-loading-text); @include animation-iteration-infinite; }
#OfficeUI .loading-area .status-message span:nth-child(1) { @include animation-delay(100ms); }
#OfficeUI .loading-area .status-message span:nth-child(2) { @include animation-delay(300ms); }
#OfficeUI .loading-area .status-message span:nth-child(3) { @include animation-delay(500ms); }

@include keyframes(animating-loading-text) {
  0% { opacity: 0; }
  100% { opacity: 100; }
}

/* ---- Styling for the OfficeUI application. ---- */
#OfficeUI .application { font-size: 0.75em; }
#OfficeUI .application header { height: 142px; z-index: 100; }
#OfficeUI .application header .application-title { height: 22px; padding: 8px 2px 0 0; position: relative; text-align: center; z-index: 200; }
#OfficeUI .application header .application-icons { margin-left: 5px; position: absolute; z-index: 300; }
#OfficeUI .application header .application-icons .icon { margin: 0 5px 0 2px; }
#OfficeUI .application header .application-icons .icon:not(.application-icon) { margin-right: 6px; }

#OfficeUI .ribbon { position: absolute; top: 0; width: 100%; }
#OfficeUI .ribbon a, #OfficeUI .ribbon a:hover, #OfficeUI .ribbon a:active { color: #444; }
#OfficeUI .ribbon .tabs { border-bottom: 1px solid $color-default-gray; height: 50px; position: relative; z-index: 150; }
#OfficeUI .ribbon .tabs .tab-group { position: relative; top: 25px; }
#OfficeUI .ribbon .tabs .tab-label, #OfficeUI .ribbon .tabs .group-label { padding: 0 13px 0 12px; text-align: center; text-transform: uppercase; }
#OfficeUI .ribbon .tab { height: 25px; line-height: 25px; }
#OfficeUI .ribbon .tab-application { background-image: none; border: 1px solid transparent; color: #fff; margin-right: 4px; min-width: 59px; padding: 0 3px 0 2px; }
#OfficeUI .ribbon .tab.active { background: #fff; border: 1px solid $color-default-gray; border-bottom-color: #fff; }
#OfficeUI .ribbon .tab:not(.active) { border: 1px solid transparent; border-bottom-color: $color-default-gray; }

#OfficeUI .ribbon .tabs .accent { height: 4px; }
#OfficeUI .ribbon .tabs .contextual-tab-group { height: 50px; margin-right: 6px; vertical-align: top; }
#OfficeUI .ribbon .tabs .contextual-tab-group ul { display: table; position: relative; width: 100%; }
#OfficeUI .ribbon .tabs .contextual-tab-group ul li { display: table-cell; line-height: 23px; }
#OfficeUI .ribbon .tabs .contextual-tab-group ul li span { padding-right: 13px; padding-left: 12px; position: relative; top: 1px; }
#OfficeUI .ribbon .tabs .contextual-tab-group .group-label { font-size: 0.9em; height: 17px; margin-top: 4px; }

#OfficeUI .ribbon .tabs-content { border-bottom: 1px solid $color-default-gray; height: 93px; position: relative; z-index: 10; background-color: white; }

/* -- Groups. --*/
#OfficeUI .ribbon .group { height: 85px; margin-left: 4px; margin-top: 3px; min-width: 30px; position: relative; vertical-align: top; }
#OfficeUI .ribbon .group .legend { height: 12px; bottom: 0; color: #666; font-size: 0.9em; overflow: hidden; position: absolute; text-align: center; text-overflow: ellipsis; white-space: nowrap; width: 100%; }
#OfficeUI .ribbon .pipe { border-right: 1px solid #d4d4d4; height: 84px; margin-left: 1px; margin-top: 4px; vertical-align: top; }
#OfficeUI .ribbon .collapse { bottom: 0; height: 17px; padding-top: 2px; position: absolute; right: 0; text-align: center; width: 29px; }

/* -- Areas -- */
#OfficeUI .ribbon .group .area { vertical-align: top; }
#OfficeUI .ribbon .group .area .actions-holder { position: relative; }

/* -- Actions. -- */
#OfficeUI .ribbon .actions-holder { vertical-align: top; }
#OfficeUI .ribbon .actions-holder .icon { height: 69px; margin-right: 0; padding-top: 3px; vertical-align: top; }
#OfficeUI .ribbon .actions-holder .icon img { padding: 0 5px 0 5px; }
#OfficeUI .ribbon .actions-holder .big-icon-holder { height: 68px;}
#OfficeUI .ribbon .actions-holder .big-icon-holder a { height: 100%; }
#OfficeUI .ribbon .actions-holder .big-icon { text-align: center; }
#OfficeUI .ribbon .actions-holder .big-icon .label { line-height: 16px; padding-left: 2px; padding-right: 2px; padding-top: 1px; position: relative; text-align: center; top: 0px; }
#OfficeUI .ribbon .actions-holder .small-icon-holder { height: 23px; }
#OfficeUI .ribbon .actions-holder .small-icon { height: 100%; margin-right: 0; padding: 3px 7px 0 0; text-align: left; }
#OfficeUI .ribbon .actions-holder .small-icon .label { padding-top: 3px; text-align: left; vertical-align: top; }
#OfficeUI .ribbon .actions-holder .small-icon img { padding: 0 0 0 3px; }
#OfficeUI .ribbon .actions-holder .dropdown-holder { margin-bottom: 2px; }

/* -- Tooltips. -- */
#OfficeUI .ribbon .tooltip { background-color: white; background-image: none, linear-gradient(#c6c6c6, #c6c6c6); background-position: 0 0, 100% 0; background-repeat: no-repeat; background-size: 1px 100%; border: 1px solid $color-default-gray; box-shadow: 3px 3px 3px #e0e0e0; display: none; position: fixed; padding: 5px 11px; top: 143px; width: 220px; }
#OfficeUI .ribbon .tooltip strong { color: #5d5d5d; font-weight: bold; }
#OfficeUI .ribbon .tooltip p { line-height: 15px; margin: 0; padding: 5px 0; }

/* ---- Styling for the website beneath the OfficeUI ribbon control. ---- */
#OfficeUI .site-container { font-size: 0.75em; padding: 10px; padding-left: 50px; position: absolute; top: 143px; width: 100%; }
#OfficeUI .site-container p { margin-bottom: 20px; }
#OfficeUI .site-container h1 { font-size: 2.25em; line-height: normal; padding-bottom: 10px; }
#OfficeUI .site-container .link { margin-right: 40px; height: 20px; }





































