/* ====================================================================================================
 * Filename:      OfficeUI.Core.less
 * Author:        Kevin De Coninck
 * Date Created:  10/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Core.less file is the main file for all the OfficeUI components.
 *                This file will contain the styling for icons, actions, ribbon, buttons and a lot
 *                of other elements. However, there are references with other files to make sure that
 *                that we can use various styles and other elements.
======================================================================================================= */

/* ----- Import Statements. ---- */
@import 'OfficeUI.Reset.less';
@import 'OfficeUI.Elements.less';
@import 'Styles/OfficeUI.Styles.less';

/* ---- General elements. ---- */
#OfficeUI { color: #444; font-family: 'Segoe UI', arial, sans-serif; font-size: 0.75em; }
#OfficeUI .disabled { opacity: 0.5; pointer-events: none; }

/* ---- General classes. ---- */
/* Provides a way to ensure that text-selection of an element is disabled. By adding this class, text-selection of the
 * becomes disabled. Also the cursor is changed to 'default' to ensure that the cursor doesn't change to a vertical pipe
 * indicating that the element is text.
*/
#OfficeUI .no-select { cursor: default; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; }

/* ---- Application styling. ---- */
#OfficeUI header { height: 142px; position: fixed; width: 100%; }
#OfficeUI #footer { bottom: 0; color: white; font-weight: 600; height: 21px; line-height: 21px; padding: 0 10px 0 10px; position: fixed; text-transform: uppercase; width: 100%; }

/* ---- OfficeUI core application styling. ---- */
#OfficeUI .application { background-repeat: no-repeat; background-position: right top; background-color: rgba(0, 0, 0, 0); }
#OfficeUI .application .title { height: 22px; margin: 8px 2px 0 0; position: relative; text-align: center; z-index: 200; }
#OfficeUI .application .icons { margin-left: 5px; position: absolute; z-index: 200;} // Give a high z-index to the element because otherwise an hover will not work anymore.
#OfficeUI .application .icons img { margin: 0 5px 0 2px; }
#OfficeUI .application .icons img:not(:first-child) { margin-right: 6px; }

/* ---- OfficeUI ribbon styling. ---- */
#OfficeUI .ribbon { position: relative; top: -30px; }
#OfficeUI .ribbon .tabs { border-bottom: 1px solid @defaultGrayRibbon; height: 50px; position: relative; z-index: 150; }
#OfficeUI .ribbon .tabs li { display: inline-block; }
#OfficeUI .ribbon .tabs .tab-group { position: relative; top: 25px; }
#OfficeUI .ribbon .tabs .tab-group .label { height: 25px; line-height: 24px; padding: 0 13px 0 12px; text-align: center; text-transform: uppercase; }
#OfficeUI .ribbon .tabs .tab.application { border-style: solid; border-width: 1px; background-image: none; color: #fff; margin-right: 4px; min-width: 52px; padding: 0 3px 0 2px; }
#OfficeUI .ribbon .tabs .tab.active { background: #fff; border: 1px solid @defaultGrayRibbon; border-bottom: 1px solid #fff; }
#OfficeUI .ribbon .tabs .tab:not(.active) { border: 1px solid transparent; border-bottom: 1px solid @defaultGrayRibbon; }
#OfficeUI .ribbon .tabs .contextual-tab-group { border-bottom: 1px solid @defaultGrayRibbon; height: 50px; }
#OfficeUI .ribbon .tabs .accent { height: 4px; }
#OfficeUI .ribbon .tabs li .contextual-group-label { font-size: 0.9em; height: 15px; margin-top: 4px; padding: 0 6px; text-align: center; text-transform: uppercase; }
#OfficeUI .ribbon .tabs .contextual-tab-group { margin-right: 6px; }
#OfficeUI .ribbon .tabs .contextual-tab-group ul { display: table; width: 100%; }
#OfficeUI .ribbon .tabs .contextual-tab-group ul li { display: table-cell; height: 25px; line-height: 25px; text-align: center; }
#OfficeUI .ribbon .tabs .contextual-tab-group ul li span { padding: 3px 13px 0 12px; }
#OfficeUI .ribbon .tabs .contextual-tab-group .tab { text-transform: uppercase; }
#OfficeUI .ribbon .tabs_content { border-bottom: 1px solid @defaultGrayRibbon; height: 92px; position: relative; z-index: 30; }

#OfficeUI .ribbon .collapse { bottom: 0; height: 17px; padding-top: 2px; position: absolute; right: 0; text-align: center; width: 29px; }

/* ---- Animations ---- */
#OfficeUI .contextual-tab-group { -webkit-animation: fadeInContextualGroup 0.2s; -moz-animation: fadeInContextualGroup 0.2s; -ms-animation: fadeInContextualGroup 0.2s; }
@keyframes fadeInContextualGroup {
  from { opacity: 0; }
  to { opacity: 1; }
}
