/* ====================================================================================================
 * Filename:      OfficeUI.Style.Elements.less
 * Author:        Kevin De Coninck
 * Date Created:  10/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Elements.less file does contain various elements that can be placed on
 *                the website such as buttons, input elements and various others.
======================================================================================================= */
/* ----- General elements ---- */
/*
 * Notes:
 * In a web application, there are various normal elements such as input elements and dropdown elements.
 * Those elements are being styles in the section below.
*/
#OfficeUI input {
  font-family: 'Segoe UI';
  border-style: solid;
  border-width: 1px;
}
/* ----- Buttons ----- */
/* Notes:
 * The OfficeUI Suite contains various types of buttons such as a normal button, an image button, ...
 * The section below gives an explanation about every type of button and also given an example on how to render them.
 *
 * Some classes have added 'ie-fix' on the end. This is because some functionalities are not available in all browsers.
 * Therefore that since class is being added because otherwise the element might not render correctly in Internet
 * Explorer.
 *
 * The class is 'ie-fix' is used to solve the following problems:
 * -  When you have an anchor <a href="#"> with another element in it, the anchor does not become :active when you
 *    click on the element itself. In other words, the active class is not bubbling up.
 *
 * ==================================================== Example ====================================================
 * Normal button:
 *
 *    Provides a normal button that just contains some plain text.
 *
 *    <a href="#" class="button">
 *        <span>Yes</span>
 *    </a>
 *
 * Normal button (defaulted):
 *
 *    Provides a normal button, the same as the above one, but a button which is focused by default, indicating
 *    that this is a default button.
 *
 *    <a href="#" class="button default-button">
 *        <span>Yes</span>
 *    </a>
 * ================================================================================================================= */
/* -- Normal button -- */
#OfficeUI a.button {
  color: #444;
  border-width: 1px;
  border-style: solid;
  cursor: default;
  padding: 0 5px 0 5px;
  text-decoration: none;
}
#OfficeUI a.button:hover {
  border-width: 1px;
  border-style: solid;
}
#OfficeUI a.button:active,
#OfficeUI a.button.ie-fix {
  border-width: 1px;
  border-style: solid;
}
/* ----- DropDown Elements ----- */
/* Notes:
 * The OfficeUI Suite contains various types of DropDowns such as a simple text dropdown and a large item menu
 * dropdown.
 * The section below gives an explanation about every type of dropdown and also given an example on how to render them.
 * ==================================================== Example ====================================================
 * Simple DropDown Element
 *
 *    Provides a simple dropdown.
 *
 *    <span class="dropdown">
 *      <input type="text" />
 *    </a>
 * ================================================================================================================= */
/* -- Dropdown element -- */
#OfficeUI .dropdown {
  display: inline-block;
  position: relative;
}
#OfficeUI .dropdown input {
  border-right-style: none;
  padding: 0 15px 0 5px;
}
#OfficeUI .dropdown i {
  border-style: solid;
  border-width: 1px;
  border-left-color: transparent;
  color: #575757;
  font-size: 10px;
  height: 100%;
  padding: 3px 2px 0 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 13px;
}
#OfficeUI .dropdown i.focus {
  color: #000;
}
