/* ====================================================================================================
 * Filename:      OfficeUI.Style.Elements.less
 * Author:        Kevin De Coninck
 * Date Created:  10/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Elements.less file does contain various elements that can be placed on
 *                the website such as buttons, input elements and various others.
======================================================================================================= */
/* ----- Import Statements. ---- */
/* ====================================================================================================
 * Filename:      OfficeUI.Reset.less
 * Author:        Kevin De Coninck
 * Date Created:  10/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Reset.less file alters common elements on websites. This is done because
 *                every browser does have it's own unique style to render specific elements.
 *                The goal here is to remove all the browser specific styling and make sure that all
 *                the elements looks exactly the same in every browser.
======================================================================================================= */
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
article {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
em,
i {
  font-style: italic;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Google Chrome fixes. */
input[type="text"]:focus {
  outline: none;
}
/* ====================================================================================================
 * Filename:      OfficeUI.Core.less
 * Author:        Kevin De Coninck
 * Date Created:  10/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Core.less file is the main file for all the OfficeUI components.
 *                This file will contain the styling for icons, actions, ribbon, buttons and a lot
 *                of other elements. However, there are references with other files to make sure that
 *                that we can use various styles and other elements.
 *
 * Remarks:       Some features have been included in order to help debugging stylesheets.
 *                The following 'debugging' features have been included:
 *                  - Css class (debug):  When you do apply this class on an element, the element
 *                                        itself will receive a dotted red border around it.
 *
 *                Some parts of the application does highly lean on the z-index property in order to
 *                show elements at the correct level. Therefore, all the elements which rely on a
 *                z-index property are showed below (highest z-index first, lowest latest).
 *                  - Application Icons (300) .
 *                  - Application Title (200).
 *                  - Ribbon Tabs (150).
 *                  - Header (100).
 *                  - Tabs Content (30).
======================================================================================================= */
/* ----- Import Statements. ---- */
/* ====================================================================================================
 * Filename:      OfficeUI.Styles.less
 * Author:        Kevin De Coninck
 * Date Created:  10/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Styles.less file is a file which contains a couple of variables that
 *                are the same for all the styles.
======================================================================================================= */
/* ---- Variables. ---- */
/* ---- Classes that can be used on elements. Mainly used in the AngularJS syntax. --- */
.displayBlock {
  display: block;
}
.displayInlineBlock {
  display: inline-block;
}
/* ---- Elements which covering the entire application. */
html,
body {
  height: 100%;
}
body {
  font-size: 1em;
}
/* ---- Elements to help debugging. ---- */
#OfficeUI .debug {
  border: 1px red dashed;
}
/* When this class is added onto a given element, the element is being
                                                marked with a red dashed border around it. This is helpful for
                                                debugging. Adding the border to specific elements can help identify
                                                overlap and extra white-space that might not be obvious to find. */
/* ---- General OfficeUI elements. ---- */
#OfficeUI {
  color: #444;
  font-family: 'Segoe UI', arial, sans-serif;
  font-size: 75%;
}
#OfficeUI .disabled {
  opacity: 0.5;
  pointer-events: none;
}
#OfficeUI .invisible-border {
  border-color: transparent;
}
#OfficeUI .no-select {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  cursor: default;
  user-select: none;
}
/* ---- Application styling. ---- */
#OfficeUI header {
  height: 142px;
  z-index: 100;
}
#OfficeUI header .application-title {
  height: 22px;
  padding: 8px 2px 0 0;
  position: relative;
  text-align: center;
  z-index: 200;
}
#OfficeUI header .application-icons {
  margin-left: 5px;
  position: absolute;
  z-index: 300;
}
#OfficeUI header .application-icons .icon {
  margin: 0 5px 0 2px;
}
#OfficeUI header .application-icons .icon:not(.application-icon) {
  margin-right: 6px;
}
#OfficeUI footer .navigation {
  background-color: #e4e4e4;
  bottom: 21px;
  height: 45px;
  padding-left: 15px;
  position: fixed;
  width: 100%;
}
#OfficeUI footer .navigation ul li {
  display: inline-block;
  font-size: 23px;
  font-weight: lighter;
  line-height: 45px;
  margin-right: 15px;
}
#OfficeUI footer .notification-area {
  bottom: 0;
  color: white;
  font-weight: 600;
  height: 21px;
  line-height: 21px;
  padding: 0 10px 0 10px;
  position: fixed;
  text-transform: uppercase;
  width: 100%;
}
/* ---- Ribbon styling. ---- */
#OfficeUI .ribbon {
  position: absolute;
  top: 0;
  width: 100%;
}
#OfficeUI .ribbon .tabs {
  border-bottom: 1px solid #d4d4d4;
  height: 50px;
  position: relative;
  z-index: 150;
}
#OfficeUI .ribbon .tabs li {
  display: inline-block;
}
#OfficeUI .ribbon .tabs .label {
  text-align: center;
  text-transform: uppercase;
}
#OfficeUI .ribbon .tab-group {
  position: relative;
  top: 25px;
}
#OfficeUI .ribbon .tab-group:not(:first-child) {
  margin-right: 2px;
}
#OfficeUI .ribbon .tab-group .label {
  height: 25px;
  line-height: 23px;
  padding: 0 13px 0 12px;
}
#OfficeUI .ribbon .contextual-group-label {
  font-size: 0.9em;
  height: 17px;
  margin-top: 4px;
  padding: 0 4px;
}
/* -- Contextual tabs & tab groups. -- */
#OfficeUI .ribbon .tabs .accent {
  height: 4px;
}
#OfficeUI .ribbon .tabs .contextual-tab-group {
  height: 50px;
  margin-right: 6px;
}
#OfficeUI .ribbon .tabs .contextual-tab-group ul {
  display: table;
  position: relative;
  width: 100%;
}
#OfficeUI .ribbon .tabs .contextual-tab-group ul li {
  display: table-cell;
  line-height: 23px;
}
#OfficeUI .ribbon .tabs .contextual-tab-group ul li span {
  padding-right: 13px;
  padding-left: 12px;
  position: relative;
  top: 1px;
}
/* -- Styling of the tabs itself. -- */
#OfficeUI .ribbon .tab {
  height: 25px;
}
#OfficeUI .ribbon .tab.application {
  background-image: none;
  border: 1px solid transparent;
  color: #fff;
  margin-right: 4px;
  min-width: 59px;
  padding: 0 3px 0 2px;
}
#OfficeUI .ribbon .tab.active {
  background: #fff;
  border: 1px solid #d4d4d4;
  border-bottom-color: #fff;
}
#OfficeUI .ribbon .tab:not(.active) {
  border: 1px solid transparent;
  border-bottom-color: #d4d4d4;
}
/* -- Styling of the contents of the tabs. -- */
#OfficeUI .ribbon .tabs_content {
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  height: 93px;
  position: relative;
  z-index: 30;
}
/* -- Styling of the collapse icon. -- */
#OfficeUI .ribbon .collapse {
  bottom: 0;
  height: 17px;
  padding-top: 2px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 29px;
}
/* -- Groups. --*/
#OfficeUI .ribbon .group {
  display: inline-block;
  height: 85px;
  margin-left: 4px;
  margin-top: 3px;
  position: relative;
  vertical-align: top;
}
#OfficeUI .ribbon .group .legend {
  height: 12px;
  bottom: 0;
  color: #666;
  font-size: 0.9em;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
#OfficeUI .pipe {
  border-right: 1px solid #d4d4d4;
  display: inline-block;
  height: 84px;
  margin-left: 1px;
  margin-top: 4px;
  vertical-align: top;
}
/* -- Areas. -- */
#OfficeUI .ribbon .group .area {
  display: inline-block;
  vertical-align: top;
}
#OfficeUI .ribbon .group .area .actions-holder {
  position: relative;
}
/* -- Actions. -- */
#OfficeUI .ribbon .actions-holder {
  vertical-align: top;
}
#OfficeUI .ribbon .actions-holder .icon {
  display: inline-block;
  height: 69px;
  margin-right: 0;
  padding-top: 3px;
  vertical-align: top;
}
#OfficeUI .ribbon .actions-holder .icon img {
  padding: 0 5px 0 5px;
}
#OfficeUI .ribbon .actions-holder .big-icon-holder {
  height: 68px;
}
#OfficeUI .ribbon .actions-holder .big-icon-holder a {
  display: block;
  height: 100%;
}
#OfficeUI .ribbon .actions-holder .big-icon {
  text-align: center;
}
#OfficeUI .ribbon .actions-holder .big-icon .label {
  line-height: 16px;
  padding-top: 1px;
  position: relative;
  text-align: center;
  top: 0px;
}
#OfficeUI .ribbon .actions-holder .small-icon-holder {
  height: 23px;
}
#OfficeUI .ribbon .actions-holder .small-icon {
  height: 100%;
  margin-right: 0;
  padding: 3px 7px 0 0;
  text-align: left;
}
#OfficeUI .ribbon .actions-holder .small-icon .label {
  display: inline-block;
  padding-top: 3px;
  text-align: left;
  vertical-align: top;
}
#OfficeUI .ribbon .actions-holder .small-icon img {
  padding: 0 0 0 3px;
}
#OfficeUI .ribbon .actions-holder .dropdown-holder {
  margin-bottom: 2px;
}
/* -- Tooltips. -- */
#OfficeUI .ribbon .tooltip {
  background-color: white;
  background-image: none, linear-gradient(#c6c6c6, #c6c6c6);
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  background-size: 1px 100%;
  border: 1px solid #d4d4d4;
  box-shadow: 3px 3px 3px #e0e0e0;
  display: none;
  position: fixed;
  padding: 5px 11px;
  top: 142px;
  width: 220px;
}
#OfficeUI .ribbon .tooltip strong {
  color: #5d5d5d;
  font-weight: bold;
}
#OfficeUI .ribbon .tooltip p {
  line-height: 15px;
  margin: 0;
  padding: 5px 0;
}
/* ---- Animations ---- */
/* -- Less classes to include in other animations. -- */
.noAnimationRepeat {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.animation-time-020 {
  -webkit-animation-duration: 0.20s;
  animation-duration: 0.20s;
}
.animation-time-025 {
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
}
/* -- Classes which should trigger the animation. -- */
/* ===================================================================================================================
   * There are various animations that are executed in an OfficeUI application.
   * All the classes, the animations and what they are doing are explained in the section below.
   *
   * .contextual-tab-group (fadeInContextualGroup):
   *
   *      When an element does have this class, it will trigger an animation named 'fadeInContextualGroup', which,
   *      as the names explains, does fade in the element.
   *
   * .tabs-content-hidden (hideRibbon):
   *
   *      When an element does have this class, it will trigger an animated named 'hideRibbon', which, as the name
   *      explains, hide the ribbon by moving it op.
   *
   * .tabs-content-visible (showRibbon):
   *
   *      When an element does have this class, it will trigger an animated named 'showRibbon', which, as the name
   *      explains, show the ribbon by moving it down.
   *
   * .ribbon-hidden (moveContentsUp):
   *
   *      When an element does have this class, it will trigger an animated named 'moveContentsUp', which, as the name
   *      explains, move the contents up since there is available space. This class should be used in combination with
   *      'hideRibbon' on another element.
   *
   * .ribbon-hidden (moveContentsUp):
   *
   *      When an element does have this class, it will trigger an animated named 'moveContentsUp', which, as the name
   *      explains, move the contents down since there is available space. This class should be used in combination with
   *      'showRibbon' on another element.
  =================================================================================================================== */
#OfficeUI .contextual-tab-group {
  -webkit-animation-duration: 0.20s;
  animation-duration: 0.20s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: fadeInContextualGroup;
  -webkit-animation-duration: 0.2s;
  animation-name: fadeInContextualGroup;
  animation-duration: 0.2s;
}
#OfficeUI .tabs-content-hidden {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: hideRibbon;
  -webkit-animation-duration: 0.25s;
  animation-name: hideRibbon;
  animation-duration: 0.25s;
}
#OfficeUI .tabs-content-visible {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: showRibbon;
  -webkit-animation-duration: 0.25s;
  animation-name: showRibbon;
  animation-duration: 0.25s;
}
#OfficeUI .ribbon-hidden {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: moveContentsUp;
  -webkit-animation-duration: 0.25s;
  animation-name: moveContentsUp;
  animation-duration: 0.25s;
}
#OfficeUI .ribbon-showed {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: moveContentsDown;
  -webkit-animation-duration: 0.25s;
  animation-name: moveContentsDown;
  animation-duration: 0.25s;
}
/* -- Animations itself. Each animation is written double due to a special syntax needed for Google, Safari and Opera. -- */
@-webkit-keyframes fadeInContextualGroup {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInContextualGroup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes hideRibbon {
  from {
    top: 0;
  }
  to {
    top: -92px;
  }
}
@keyframes hideRibbon {
  from {
    top: 0;
  }
  to {
    top: -92px;
  }
}
@-webkit-keyframes showRibbon {
  from {
    top: -92px;
  }
  to {
    top: 0;
  }
}
@keyframes showRibbon {
  from {
    top: -92px;
  }
  to {
    top: 0;
  }
}
@-webkit-keyframes moveContentsUp {
  from {
    top: 142px;
  }
  to {
    top: 50px;
  }
}
@keyframes moveContentsUp {
  from {
    top: 142px;
  }
  to {
    top: 50px;
  }
}
@-webkit-keyframes moveContentsDown {
  from {
    top: 50px;
  }
  to {
    top: 142px;
  }
}
@keyframes moveContentsDown {
  from {
    top: 50px;
  }
  to {
    top: 142px;
  }
}
/* ----- General elements ---- */
/*
 * Notes:
 * In a web application, there are various normal elements such as input elements, button elements. In fact, all the
 * elements that can be rendered using a simple HTML tag. The styling of those elements is placed here.
*/
#OfficeUI input {
  border-color: #ababab;
}
#OfficeUI input[type="text"] {
  border: 1px solid #ababab;
  font-family: 'Segoe UI', arial, sans-serif;
  font-size: 1em;
  height: 22px;
  padding-left: 3px;
}
/* ----- Buttons ----- */
/* Notes:
 * The OfficeUI Suite contains various types of buttons such as a normal button, an image button, ...
 * The section below gives an explanation about every type of button and also given an example on how to render them.
 *
 * Some classes have added 'ie-fix' on the end. This is because some functionalities are not available in all browsers.
 * Therefore that since class is being added because otherwise the element might not render correctly in Internet
 * Explorer.
 *
 * The class is 'ie-fix' is used to solve the following problems:
 * -  When you have an anchor <a href="#"> with another element in it, the anchor does not become :active when you
 *    click on the element itself. In other words, the active class is not bubbling up.
 *
 * ==================================================== Example ====================================================
 * Normal button:
 *
 *    Provides a normal button that just contains some plain text.
 *
 *    <a href="#" class="button">
 *        <span>Yes</span>
 *    </a>
 *
 * Normal button (defaulted):
 *
 *    Provides a normal button, the same as the above one, but a button which is focused by default, indicating
 *    that this is a default button.
 *
 *    <a href="#" class="button default-button">
 *        <span>Yes</span>
 *    </a>
 * ================================================================================================================= */
/* -- Normal button -- */
#OfficeUI a.button {
  border: 1px solid transparent;
  color: #444;
  cursor: default;
  padding: 0 5px 0 5px;
  text-decoration: none;
}
#OfficeUI a.button:active,
#OfficeUI a.button.active-ie-fix {
  border: 1px solid transparent;
}
#OfficeUI a.button:hover {
  border: 1px solid transparent;
}
/* ----- DropDown Elements ----- */
/* Notes:
 * The OfficeUI Suite contains various types of DropDowns such as a simple text dropdown and a large item menu
 * dropdown.
 * The section below gives an explanation about every type of dropdown and also given an example on how to render them.
 * ==================================================== Example ====================================================
 * Simple DropDown Element
 *
 *    Provides a simple dropdown.
 *
 *    <span class="dropdown">
 *      <input type="text" />
 *    </a>
 * ================================================================================================================= */
/* -- Dropdown element -- */
#OfficeUI .dropdown {
  display: inline-block;
  height: 21px;
  position: relative;
}
#OfficeUI .dropdown i {
  border: 1px solid transparent;
  color: #575757;
  cursor: default;
  height: 100%;
  font-size: 10px;
  padding: 3px 2px 0 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 13px;
}
#OfficeUI .dropdown .dropdown-legend {
  border: 1px solid #ababab;
  height: 100%;
  line-height: 1.5;
  padding: 0 15px 0 5px;
  width: 100%;
}
#OfficeUI .dropdown.active i,
#OfficeUI .dropdown.focus i {
  color: #000;
}
#OfficeUI .dropdown .elements {
  background-color: white;
  border: 1px solid #ababab;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 100;
}
#OfficeUI .dropdown .elements li {
  padding: 3px 0 3px 3px;
}
