/* ====================================================================================================
 * Filename:      OfficeUI.Style.Elements.less
 * Author:        Kevin De Coninck
 * Date Created:  10/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Elements.less file does contain various elements that can be placed on
 *                the website such as buttons, input elements and various others.
======================================================================================================= */
/* ----- Import Statements. ---- */
/* ====================================================================================================
 * Filename:      OfficeUI.Reset.less
 * Author:        Kevin De Coninck
 * Date Created:  10/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Reset.less file alters common elements on websites. This is done because
 *                every browser does have it's own unique style to render specific elements.
 *                The goal here is to remove all the browser specific styling and make sure that all
 *                the elements looks exactly the same in every browser.
======================================================================================================= */
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
article {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
em,
i {
  font-style: italic;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Google Chrome fixes. */
input {
  -webkit-appearance: none;
}
/* ====================================================================================================
 * Filename:      OfficeUI.Core.less
 * Author:        Kevin De Coninck
 * Date Created:  10/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Core.less file is the main file for all the OfficeUI components.
 *                This file will contain the styling for icons, actions, ribbon, buttons and a lot
 *                of other elements. However, there are references with other files to make sure that
 *                that we can use various styles and other elements.
======================================================================================================= */
/* ----- Import Statements. ---- */
/* ====================================================================================================
 * Filename:      OfficeUI.Styles.less
 * Author:        Kevin De Coninck
 * Date Created:  10/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Styles.less file is a file which contains a couple of variables that
 *                are the same for all the styles.
======================================================================================================= */
/* ---- Variables. ---- */
/* ---- Elements which are used for the whole application. ---- */
html,
body {
  height: 100%;
}
/* ---- General elements. ---- */
#OfficeUI {
  color: #444;
  font-family: 'Segoe UI', arial, sans-serif;
  font-size: 0.75em;
  height: 100%;
}
#OfficeUI .disabled {
  opacity: 0.5;
  pointer-events: none;
}
#OfficeUI .no-border {
  border-color: transparent !important;
}
/* ---- General classes. ---- */
/* Provides a way to ensure that text-selection of an element is disabled. By adding this class, text-selection of the
 * becomes disabled. Also the cursor is changed to 'default' to ensure that the cursor doesn't change to a vertical pipe
 * indicating that the element is text.
*/
#OfficeUI .no-select {
  cursor: default;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
/* ---- Application styling. ---- */
#OfficeUI header {
  height: 142px;
  position: fixed;
  width: 100%;
  z-index: 100;
}
#OfficeUI #footer {
  bottom: 0;
  color: white;
  font-weight: 600;
  height: 21px;
  line-height: 21px;
  padding: 0 10px 0 10px;
  position: fixed;
  text-transform: uppercase;
  width: 100%;
}
/* ---- OfficeUI core application styling. ---- */
#OfficeUI .application {
  background-repeat: no-repeat;
  background-position: right top;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
}
#OfficeUI .application .title {
  height: 22px;
  margin: 8px 2px 0 0;
  position: relative;
  text-align: center;
  z-index: 200;
}
#OfficeUI .application .icons {
  margin-left: 5px;
  position: absolute;
  z-index: 300;
}
#OfficeUI .application .icons img {
  margin: 0 5px 0 2px;
}
#OfficeUI .application .icons img:not(:first-child) {
  margin-right: 6px;
}
/* ---- OfficeUI ribbon styling. ---- */
#OfficeUI .ribbon {
  position: relative;
  top: -30px;
}
#OfficeUI .ribbon .tabs {
  border-bottom: 1px solid #d4d4d4;
  height: 50px;
  position: relative;
  z-index: 150;
}
#OfficeUI .ribbon .tabs li {
  display: inline-block;
}
#OfficeUI .ribbon .tabs .tab-group {
  position: relative;
  top: 25px;
}
#OfficeUI .ribbon .tabs .tab-group .label {
  height: 25px;
  line-height: 24px;
  padding: 0 13px 0 12px;
  text-align: center;
  text-transform: uppercase;
}
#OfficeUI .ribbon .tabs .tab.application {
  border-style: solid;
  border-width: 1px;
  background-image: none;
  color: #fff;
  margin-right: 4px;
  min-width: 52px;
  padding: 0 3px 0 2px;
}
#OfficeUI .ribbon .tabs .tab.active {
  background: #fff;
  border: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
}
#OfficeUI .ribbon .tabs .tab:not(.application).no-border {
  border-bottom: 1px solid #d4d4d4 !important;
  color: #444 !important;
}
#OfficeUI .ribbon .tabs .tab:not(.active) {
  border: 1px solid transparent;
  border-bottom: 1px solid #d4d4d4;
}
#OfficeUI .ribbon .tabs .contextual-tab-group {
  border-bottom: 1px solid #d4d4d4;
  height: 50px;
}
#OfficeUI .ribbon .tabs .accent {
  height: 4px;
}
#OfficeUI .ribbon .tabs li .contextual-group-label {
  font-size: 0.9em;
  height: 15px;
  margin-top: 4px;
  padding: 0 6px;
  text-align: center;
  text-transform: uppercase;
}
#OfficeUI .ribbon .tabs .contextual-tab-group {
  margin-right: 6px;
}
#OfficeUI .ribbon .tabs .contextual-tab-group ul {
  display: table;
  width: 100%;
}
#OfficeUI .ribbon .tabs .contextual-tab-group ul li {
  display: table-cell;
  height: 25px;
  line-height: 25px;
  text-align: center;
}
#OfficeUI .ribbon .tabs .contextual-tab-group ul li span {
  padding: 3px 13px 0 12px;
}
#OfficeUI .ribbon .tabs .contextual-tab-group .tab {
  text-transform: uppercase;
}
#OfficeUI .ribbon .tabs_content {
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  height: 92px;
  position: relative;
  z-index: 30;
}
#OfficeUI .ribbon .collapse {
  bottom: 0;
  height: 17px;
  padding-top: 2px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 29px;
}
#OfficeUI .footer-navigation {
  background-color: #e4e4e4;
  height: 45px;
  position: fixed;
  bottom: 21px;
  width: 100%;
  padding-left: 15px;
}
#OfficeUI .footer-navigation span {
  display: inline-block;
  font-size: 23px;
  font-weight: lighter;
  height: 100%;
  line-height: 45px;
  margin-right: 15px;
}
/* ---- Animations ---- */
#OfficeUI .contextual-tab-group {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: fadeInContextualGroup;
  -webkit-animation-duration: 0.2s;
  animation-name: fadeInContextualGroup;
  animation-duration: 0.2s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInContextualGroup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInContextualGroup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#OfficeUI .tabs-content-hidden {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: hideRibbon;
  -webkit-animation-duration: 0.4s;
  animation-name: hideRibbon;
  animation-duration: 0.4s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes hideRibbon {
  from {
    top: 0;
  }
  to {
    top: -92px;
  }
}
@keyframes hideRibbon {
  from {
    top: 0;
  }
  to {
    top: -92px;
  }
}
#OfficeUI .tabs-content-visible {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: showRibbon;
  -webkit-animation-duration: 0.4s;
  animation-name: showRibbon;
  animation-duration: 0.4s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes showRibbon {
  from {
    top: -92px;
  }
  to {
    top: 0;
  }
}
@keyframes showRibbon {
  from {
    top: -92px;
  }
  to {
    top: 0;
  }
}
#OfficeUI .ribbon-hidden {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: moveContentsUp;
  -webkit-animation-duration: 0.4s;
  animation-name: moveContentsUp;
  animation-duration: 0.4s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes moveContentsUp {
  from {
    top: 142px;
  }
  to {
    top: 50px;
  }
}
@keyframes moveContentsUp {
  from {
    top: 142px;
  }
  to {
    top: 50px;
  }
}
#OfficeUI .ribbon-showed {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: moveContentsDown;
  -webkit-animation-duration: 0.4s;
  animation-name: moveContentsDown;
  animation-duration: 0.4s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes moveContentsDown {
  from {
    top: 50px;
  }
  to {
    top: 142px;
  }
}
@keyframes moveContentsDown {
  from {
    top: 50px;
  }
  to {
    top: 142px;
  }
}
/* ----- General elements ---- */
/*
 * Notes:
 * In a web application, there are various normal elements such as input elements, button elements. In fact, all the
 * elements that can be rendered using a simple HTML tag. The styling of those elements is placed here.
*/
/* ----- Buttons ----- */
/* Notes:
 * The OfficeUI Suite contains various types of buttons such as a normal button, an image button, ...
 * The section below gives an explanation about every type of button and also given an example on how to render them.
 *
 * Some classes have added 'ie-fix' on the end. This is because some functionalities are not available in all browsers.
 * Therefore that since class is being added because otherwise the element might not render correctly in Internet
 * Explorer.
 *
 * The class is 'ie-fix' is used to solve the following problems:
 * -  When you have an anchor <a href="#"> with another element in it, the anchor does not become :active when you
 *    click on the element itself. In other words, the active class is not bubbling up.
 *
 * ==================================================== Example ====================================================
 * Normal button:
 *
 *    Provides a normal button that just contains some plain text.
 *
 *    <a href="#" class="button">
 *        <span>Yes</span>
 *    </a>
 *
 * Normal button (defaulted):
 *
 *    Provides a normal button, the same as the above one, but a button which is focused by default, indicating
 *    that this is a default button.
 *
 *    <a href="#" class="button default-button">
 *        <span>Yes</span>
 *    </a>
 * ================================================================================================================= */
/* -- Normal button -- */
#OfficeUI a.button {
  border: 1px solid transparent;
  color: #444;
  cursor: default;
  padding: 0 5px 0 5px;
  text-decoration: none;
}
#OfficeUI a.button:active,
#OfficeUI a.button.active-ie-fix {
  border: 1px solid transparent;
}
#OfficeUI a.button:hover {
  border: 1px solid transparent;
}
/* ----- DropDown Elements ----- */
/* Notes:
 * The OfficeUI Suite contains various types of DropDowns such as a simple text dropdown and a large item menu
 * dropdown.
 * The section below gives an explanation about every type of dropdown and also given an example on how to render them.
 * ==================================================== Example ====================================================
 * Simple DropDown Element
 *
 *    Provides a simple dropdown.
 *
 *    <span class="dropdown">
 *      <input type="text" />
 *    </a>
 * ================================================================================================================= */
/* -- Dropdown element -- */
#OfficeUI .dropdown {
  display: inline-block;
  height: 21px;
  position: relative;
}
#OfficeUI .dropdown .legend {
  border: 1px solid transparent;
  border-right-style: none;
  height: 100%;
  line-height: 1.5;
  padding: 0 15px 0 5px;
  width: 100%;
}
#OfficeUI .dropdown i {
  border: 1px solid transparent;
  height: 100%;
  color: #575757;
  cursor: default;
  font-size: 10px;
  padding: 3px 2px 0 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 13px;
}
#OfficeUI .dropdown.active i,
#OfficeUI .dropdown.focus i {
  color: #000;
}
#OfficeUI .dropdown .elements {
  border: 1px solid transparent;
  display: none;
  position: absolute;
  width: 100%;
}
#OfficeUI .dropdown .elements li {
  padding: 3px 0 3px 3px;
}
