/* ====================================================================================================
 * Filename:      OfficeUI.Style.Green.scss
 * Author:        Kevin De Coninck
 * Date Created:  30/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Style.Green.scss file is a file which on itself doesn't do anything.
 *                This files does act as a file in which various import statements are saved.
======================================================================================================= */
/* ----- Import statements ----- */
/* ====================================================================================================
 * Filename:      OfficeUI.Green.Application.scss
 * Author:        Kevin De Coninck
 * Date Created:  30/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Green.Application.scss file is a file which is used to style
 *                various OfficeUI elements.
======================================================================================================= */
/* ----- Import statements ----- */
/* ====================================================================================================
 * Filename:      OfficeUI.Green.References.scss
 * Author:        Kevin De Coninck
 * Date Created:  30/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Green.References.scss file is a file which on itself doesn't do anything.
 *                This file contains the references to all the other files.
======================================================================================================= */
/* ----- Import statements ----- */
/* ====================================================================================================
 * Filename:      OfficeUI.Mixins.scss
 * Author:        Kevin De Coninck
 * Date Created:  30/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Mixins.scss file is a file contains various mixins that can be used with
 *                the scss syntax.
======================================================================================================= */
/* ---- Useful mixins. ---- */
/* ====================================================================================================
 * Filename:      OfficeUI.Green.Variables.scss
 * Author:        Kevin De Coninck
 * Date Created:  30/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Green.Variables.scss file which holds variables for styling various
 *                elements.
======================================================================================================= */
/* ---- Variables. ---- */
/* ---- General styling. ---- */
#OfficeUI a {
  color: #217346;
  text-decoration: none; }

#OfficeUI a:hover {
  color: #439467;
  text-decoration: none; }

#OfficeUI input:hover, #OfficeUI input:focus {
  border-color: #86bfa0; }

/* ---- OfficeUI application styling. ---- */
#OfficeUI .loading-area {
  color: #217346; }

#OfficeUI .spinner-circle .animation-image {
  background-color: #217245; }

#OfficeUI .icon:not(.application-icon):not(.disabled):hover {
  background-color: #d3f0e0; }

#OfficeUI .icon:not(.application-icon).active {
  background-color: #86bfa0 !important; }

/* ---- OfficeUI ribbon styling. ---- */
#OfficeUI .ribbon .tab-application {
  background-color: #217346;
  border-color: #217346 !important; }

#OfficeUI .ribbon .tab-application:hover {
  background-color: #439467 !important;
  border-color: #439467 !important; }

#OfficeUI .ribbon .tab.active, #OfficeUI .ribbon .tab:not(.contextual-tab):not(.tab-application):hover {
  color: #439467; }

/* ---- OfficeUI Styling Animations. ---- */
@-moz-keyframes fade-circle {
  0% {
    background-color: #217245; }
  100% {
    background-color: #fff; } }
@-ms-keyframes fade-circle {
  0% {
    background-color: #217245; }
  100% {
    background-color: #fff; } }
@-o-keyframes fade-circle {
  0% {
    background-color: #217245; }
  100% {
    background-color: #fff; } }
@-webkit-keyframes fade-circle {
  0% {
    background-color: #217245; }
  100% {
    background-color: #fff; } }
@keyframes fade-circle {
  0% {
    background-color: #217245; }
  100% {
    background-color: #fff; } }

/*# sourceMappingURL=OfficeUI.Style.Green.css.map */
