/* ====================================================================================================
 * Filename:      OfficeUI.Green.Variables.scss
 * Author:        Kevin De Coninck
 * Date Created:  30/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Green.Variables.scss file which holds variables for styling various
 *                elements.
======================================================================================================= */
/* ---- Variables. ---- */
$primary-color: #217346;
$spinner-color: #217245;
$icon-hover-color: #d3f0e0;
$icon-active-color: #86bfa0;
$link-active-color: #439467;
$menu-navigation-color: #ebfaf1;