/* ====================================================================================================
 * Filename:      OfficeUI.Style.Red.Ribbon.less
 * Author:        Kevin De Coninck
 * Date Created:  19/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Style.Red.Ribbon.less file is a file which is used to an OfficeUI
 *                ribbon element.
======================================================================================================= */
/* ----- Import statements ----- */
/* ====================================================================================================
 * Filename:      OfficeUI.Style.Red.less
 * Author:        Kevin De Coninck
 * Date Created:  10/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Style.Red.less file is a file which on itself doesn't do anything.
 *                This files does act as a file in which various variables and other items have are
 *                stored. This does mean that this file does need to be referenced from other files.
======================================================================================================= */
/* ----- Import Statements. ---- */
/* ====================================================================================================
 * Filename:      OfficeUI.Styles.less
 * Author:        Kevin De Coninck
 * Date Created:  10/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Styles.less file is a file which contains a couple of variables that
 *                are the same for all the styles.
======================================================================================================= */
/* ---- Variables. ---- */
/* ====================================================================================================
 * Filename:      OfficeUI.Style.Red.Elements.less
 * Author:        Kevin De Coninck
 * Date Created:  10/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Style.Red.Elements.less file is a file is used to style various
 *                elements. The classes in this file does only implements style-based style rules
 *                such as border colors, background colors, ...
======================================================================================================= */
/* ----- Import statements ----- */
/* ----- General elements ---- */
/*
 * Notes:
 * In a web application, there are various normal elements such as input elements and dropdown elements.
 * Those elements are being styles in the section below.
*/
#OfficeUI input:hover,
#OfficeUI input:focus {
  border-color: #f7a8ab;
}
#OfficeUI .dropdown .legend:hover {
  border-color: #f7a8ab;
}
/* ----- Buttons ----- */
/* Notes:
 * The OfficeUI Suite contains various types of buttons such as a normal button, an image button, ...
 * The section below gives an explanation about every type of button and also given an example on how to render them.
 *
 * Some classes have added 'active-ie-fix' on the end. This is because some functionalities are not available in all browsers.
 * Therefore that since class is being added because otherwise the element might not render correctly in Internet
 * Explorer.
 *
 * The class is 'active-ie-fix' is used to solve the following problems:
 * -  When you have an anchor <a href="#"> with another element in it, the anchor does not become :active when you
 *    click on the element itself. In other words, the active class is not bubbling up.
 *
 * ==================================================== Example ====================================================
 * Normal button:
 *
 *    Provides a normal button that just contains some plain text.
 *
 *    <a href="#" class="button">
 *        <span>Yes</span>
 *    </a>
 * ================================================================================================================= */
/* -- Normal button -- */
#OfficeUI a.button {
  border-color: #ababab;
}
#OfficeUI a.button.default-button {
  background-color: #fadcdd;
  border-color: #f7a8ab;
}
#OfficeUI a.button:hover {
  background-color: #fadcdd;
  border-color: #f7a8ab;
}
#OfficeUI a.button:active,
#OfficeUI a.button.active-ie-fix {
  background-color: #f7a8ab;
  border-color: #c75659;
}
/* ----- DropDown Elements ----- */
/* Notes:
 * The OfficeUI Suite contains various types of DropDowns such as a simple text dropdown and a large item menu
 * dropdown.
 * The section below gives an explanation about every type of dropdown and also given an example on how to render them.
 * ==================================================== Example ====================================================
 * Simple DropDown Element
 *
 *    Provides a simple dropdown.
 *
 *    <span class="dropdown">
 *      <input type="text" />
 *    </a>
 * ================================================================================================================= */
/* -- Dropdown element -- */
#OfficeUI .dropdown.active .dropdown-legend,
#OfficeUI .dropdown.focus .dropdown-legend {
  border-color: #f7a8ab;
}
#OfficeUI .dropdown.focus i,
#OfficeUI .dropdown.active i {
  border-top-color: #f7a8ab;
  border-right-color: #f7a8ab;
  border-bottom-color: #f7a8ab;
}
#OfficeUI .dropdown.active i,
#OfficeUI .dropdown.focus i {
  background-color: #fadcdd;
  border-left-color: #f7a8ab;
}
#OfficeUI .dropdown.opened i {
  background-color: #f7a8ab;
}
#OfficeUI .dropdown .elements li:hover {
  background-color: #fadcdd;
}
/* ====================================================================================================
 * Filename:      OfficeUI.Style.Red.Application.less
 * Author:        Kevin De Coninck
 * Date Created:  19/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Style.Red.Application.less file is a file which is used to style
 *                various OfficeUI elements.
======================================================================================================= */
/* ----- Import statements ----- */
/* ---- OfficeUI application styling. ---- */
#OfficeUI .icon:not(.application-icon):not(.disabled):hover {
  background-color: #fadcdd;
}
#OfficeUI .icon:not(.application-icon).active {
  background-color: #f7a8ab !important;
}
#OfficeUI footer .notification-area {
  background-color: #a4373a;
}
#OfficeUI footer a:hover,
#OfficeUI footer a:active,
#OfficeUI footer a.active {
  color: #c75659;
}
#OfficeUI #menu ul li:not(.active):not(.no-hover):hover {
  background-color: #fadcdd;
}
/* ---- Variables. ---- */
/* ---- OfficeUI ribbon styling. ---- */
#OfficeUI .ribbon .tabs .tab.application {
  background-color: #a4373a;
  border-color: #a4373a;
}
#OfficeUI .ribbon .tabs .application:hover {
  background-color: #c75659 !important;
  border-color: #c75659 !important;
}
#OfficeUI .ribbon .tabs .tab.active,
#OfficeUI .ribbon .tabs .tab:not(.contextual-tab):not(.application):hover {
  color: #c75659;
}
