/* ====================================================================================================
 * Filename:      OfficeUI.Red.Variables.scss
 * Author:        Kevin De Coninck
 * Date Created:  30/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Red.Variables.scss file which holds variables for styling various
 *                elements.
======================================================================================================= */
/* ---- Variables. ---- */
$primary-color: #a4373a;
$spinner-color: #a43639;
$icon-hover-color: #fadcdd;
$icon-active-color: #f7a8ab;
$link-active-color: #c75659;
$menu-navigation-color: #f9ecee;