/* ====================================================================================================
 * Filename:      OfficeUI.Red.Application.scss
 * Author:        Kevin De Coninck
 * Date Created:  30/03/2015
 * Media:         Screen
 * ----------------------------------------------------------------------------------------------------
 * Notes:         The OfficeUI.Red.Application.scss file is a file which is used to style
 *                various OfficeUI elements.
======================================================================================================= */
/* ----- Import statements ----- */
@import 'OfficeUI.Red.References';

/* ---- General elements styling (anchors, input element, ...). ---- */
#OfficeUI a { color: $primary-color; text-decoration: none; }
#OfficeUI a:hover { color: $link-active-color; text-decoration: none; }
#OfficeUI input:hover, #OfficeUI input:focus { border-color: $icon-active-color; }

/* ---- OfficeUI application styling. ---- */
#OfficeUI .loading-area { color: $primary-color; }
#OfficeUI .spinner-circle .animation-image { background-color: $spinner-color; }

#OfficeUI .icon:not(.application-icon):not(.disabled):hover { background-color: $icon-hover-color; }
#OfficeUI .icon:not(.application-icon).active { background-color: $icon-active-color !important; }

/* ---- OfficeUI ribbon styling. ---- */
#OfficeUI .backstage .navigation .back-arrow { @include square-box(35px); background-image: url('/Resources/Images/Ribbon/Backstage/Red/Red.png'); position: relative; top: 20px; left: 25px; }
#OfficeUI .backstage .navigation .back-arrow:hover { background-image: url('/Resources/Images/Ribbon/Backstage/Red/Red-Hover.png'); }
#OfficeUI .ribbon .tab-application, #OfficeUI .backstage .navigation { background-color: $primary-color; border-color: $primary-color !important; }
#OfficeUI .ribbon .tab-application:hover { background-color: $link-active-color !important; border-color: $link-active-color !important; }
#OfficeUI .ribbon .tab.active, #OfficeUI .ribbon .tab:not(.contextual-tab):not(.tab-application):hover { color: $link-active-color; }

/* ---- OfficeUI Styling Animations. ---- */
@include keyframes(fade-circle) {
  0% { background-color: $spinner-color; }
  100% { background-color: #fff; }
}